<script>
  import Header from "../components/Header.svelte";
  import Footer from "../components/Footer.svelte";

  export let segment;
</script>

<style>
  main {
    background-color: white;
    box-sizing: border-box;
  }
</style>

<Header {segment} />

<main>
  <slot />
</main>

<Footer />
