<script>
  import Journeyman from "./../components/Journeyman.svelte";
  import Galaxy from "./../components/Galaxy.svelte";
  import SectionOne from "./../components/landing/what-is.svelte";
  import SectionTwo from "./../components/landing/rules.svelte";
  import SectionThree from "./../components/landing/join.svelte";
</script>

<style>
  .header {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 1000px;
    width: 100%;
    color: white;
    background-image: url("/HeaderBackground.svg");
    background-size: 100vw 750px;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  div {
    margin: 130px 10vw;
    max-width: 50vw;
  }
  h1 {
    font-size: 4.768em;
  }

  @media only screen and (max-width: 1040px) {
    .header {
      background-size: 200vw 800px;
    }
    div {
      max-width: 90vw;
    }
  }

  @media only screen and (max-width: 630px) {
    .header {
      height: 1000px;
      background-size: 200vw 1000px;
    }
    div {
      max-width: 90vw;
    }
  }

  @media only screen and (max-width: 500px) {
    .header {
      height: 1200px;
      background-size: 600vw 1200px;
    }
    div {
      max-width: 90vw;
    }
  }
</style>

<svelte:head>
  <title>MAP Support Club (MSC)</title>
</svelte:head>

<section class="header" id="header">
  <Galaxy />
  <Journeyman />

  <div>
    <h1>MAP Support Club</h1>

    <p class="h4">
      MAP Support Club (MSC) is a community for minor attracted people (MAPs)
      who are fundamentally against child sexual abuse and committed to never
      harm children.
    </p>
  </div>

</section>

<SectionOne />

<SectionTwo />

<SectionThree />
