<script>

</script>

<style>
  section {
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
  }

  .container {
    display: grid;
    justify-items: center;
    margin: auto auto;
    width: 40vw;
    text-align: left;
    grid-template-columns: 1fr;
  }

  ol {
    list-style: none;
    counter-reset: rules;
  }
  ol li {
    counter-increment: rules;
  }
  li {
    margin-top: 5px;
  }
  li::before {
    font-size: 1.2rem;
    color: gray;
    padding-right: 20px;

    content: counter(rules) ".";
  }

  @media only screen and (max-width: 800px) {
    .container {
      grid-template-columns: 1fr;
      width: 80vw;
    }
  }
</style>

<section id="sign-up">
  <h2>Want to join MAP Support Club?</h2>
  <div class="container">
    <div>
      <p>
        If you are a minor attracted person (or think you might be), and you
        would like to join the chat, please follow these directions:
      </p>
      <ol>
        <li>
          Go to this
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdCNDX8tLWDXJaK4TvmqftdADNtcnLvdgGdRQ7bFA1gWMae3Q/viewform">
            link
          </a>
        </li>
        <li>Enter the password: iourKy</li>
        <li>Fill out the rest of the required fields</li>
        <li>Optionally participate in some extra questions (for science!)</li>
        <li>Submit the form</li>
      </ol>
      <p>
        You will want to keep
        <a href="https://blog.mapsupport.club/msc/protect-yourself-online">
          these safety and privacy processes
        </a>
        in mind if you join.
      </p>
    </div>
    <div>
      <h3 class="h4">Are you not a minor-attracted person?</h3>
      <p>
        If you're a researcher, journalist, or just an ally, send us an email at
        msc@gmx.us
      </p>
      <p>
        We do not have an onboarding process for MAP allies and select for
        ourselves those we wish to add.
      </p>
    </div>
  </div>
</section>
