<script>
  import PointingRight from "../Pointing-Right.svelte";
  import PointingDown from "../Pointing-Down.svelte";
</script>

<style>
  section {
    overflow: hidden;
    text-align: center;
    margin-top: 100px;
  }

  .container {
    display: grid;
    margin: auto auto;
    width: 60vw;
    text-align: left;
    grid-template-columns: 1fr 2fr;
  }

  ol {
    list-style: none;
    counter-reset: rules;
  }
  ol li {
    counter-increment: rules;
  }
  li {
    margin-top: 20px;
  }
  li::before {
    font-size: 1.2rem;
    color: gray;
    padding-right: 20px;

    content: counter(rules) ".";
  }

  @media only screen and (max-width: 930px) {
    .container {
      grid-template-columns: 1fr;
      width: 80vw;
    }
  }
</style>

<section>
  <h2>Community Rules</h2>
  <div class="container">
    <PointingRight />
    <div>
      <p>
        To be part of the MSC community, you must agree to follow these rules:
      </p>
      <ol>
        <li>
          You must be committed to never engaging in sexual activity with a
          child.
        </li>
        <li>You must be at least 13 years old to join this chat.</li>
        <li>No admissions of unadjudicated illegal activities are allowed.</li>
        <li>
          No talk about lowering Age of Consent (AoC), whatever it is where you
          live.
        </li>
        <li>
          No talk about adult-child sex being fundamentally OK and only harmful
          due to societal attitudes and reactions to its discovery, nor
          discussions of the topic. There are other places on the internet to
          have these discussions. This is not one of them.
        </li>
        <li>
          No avatar images of real children are permitted. Avatars of drawings
          of children will only be permitted if they are not realistic nor
          sexually suggestive. It must be obvious that it is a drawing (i.e.
          cartoon/anime). This will be to the discretion of the Moderator team,
          and you will be asked to change your avatar to comply with this rule.
        </li>
        <li>
          No offensive or sexually suggestive usernames, and no names of real
          child celebrities. You will be asked to change your username to comply
          with this rule.
        </li>
        <li>
          No quoting of anyone outside the community without permission from the
          person being quoted.
        </li>
        <li>
          No disclosing personal information about a member trusted to you in
          confidence to other members, or to the outside public. This can be
          grounds for permanent banning.
        </li>
        <li>No sexually explicit or arousing descriptions.</li>
        <li>
          No images or videos of children if they would be arousing to an
          average pedophile (shirtless, swimsuit, underwear).
        </li>
        <li>
          No images or videos of children for the sake of sharing “cute” or
          “hot” kids. If relevant to an ongoing discussion, an occasional image
          will be allowed as long as it doesn't violate rule #11.
        </li>
        <li>
          No child nudity and/or pornography, child erotica, virtual child porn
          or any talk about how or where to access such materials, or requests
          for such materials, even if legal in your jurisdiction.
        </li>
        <li>
          Treat others with respect if you disagree with their opinions, no
          personal attacks and no flaming.
        </li>
      </ol>
      <p>
        <small>
          You can view our full terms of service
          <a href="https://chat.mapsupport.club/terms-of-service">here</a>
          and our privacy policy
          <a href="https://chat.mapsupport.club/privacy-policy">here</a>
          .
        </small>
      </p>
    </div>
  </div>
</section>
