<script>
  import Conversation from "../Conversation.svelte";
</script>

<style>
  section {
    overflow: hidden;
    text-align: center;
    margin-top: 850px;
  }

  div {
    display: grid;
    justify-items: center;
    margin: auto auto;
    width: 60vw;
    text-align: left;
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 1000px) {
    section {
      margin-top: 800px;
    }
    div {
      grid-template-columns: 1fr;
      width: 80vw;
    }
  }

  @media only screen and (max-width: 630px) {
    section {
      margin-top: 1000px;
    }
  }

  @media only screen and (max-width: 500px) {
    section {
      margin-top: 1000px;
    }
  }
</style>

<section>
  <h2>What is MAP Support Club?</h2>
  <div>
    <p>
      <b>MAP Support Club</b>
      is a community for
      <b>Minor Attracted People</b>
      who are
      <em>fundamentally against child sexual abuse</em>
      and
      <em>committed to never harm children.</em>
      It is intended as a community where MAPs can connect with one another,
      offer and receive support in difficult times and overall just enjoy a
      relaxed atmosphere where one can have fun and not be judged.
    </p>
    <Conversation />
  </div>
</section>
