<style>
  svg {
    position: relative;
    height: 280px;
  }
</style>

<svg
  class="illustration"
  viewBox="0 0 1155 700"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path
    d="M305.158 584.4C306.404 584.006 320.888 584.373 322.193 584.319C452.438
    578.815 522.154 573.691 584.859 574.043C657.302 574.449 720.386 580.835
    856.637 580.84C856.933 580.84 857.244 580.876 857.532 580.948C861.571
    581.958 872.748 587.556 868.591 587.791C720.242 596.223 669.245 595.957
    583.427 595.308C523.093 594.851 446.272 596.19 303.176 591.635C298.281
    591.479 299.812 586.093 305.158 584.4Z"
    fill="black"
    fill-opacity="0.1" />
  <path
    d="M736.301 608.783C737.453 608.998 738.595 609.833 737.456 610.108C736.453
    610.35 734.482 610.54 730.757 610.54C725.597 610.54 719.973 610.54 715.686
    610.54C711.246 610.54 708.448 607.209 712.863 606.733C713.702 606.643
    714.688 606.592 715.843 606.592C723.676 606.592 732.616 608.094 736.301
    608.783Z"
    fill="#DFD8C4" />
  <path
    d="M682.004 607.917C682.003 609.131 680.317 610.541 660.481 610.527C644.425
    610.516 625.678 609.865 619.116 609.617C617.515 609.556 615.416 608.57
    616.95 608.109C618.542 607.63 622.349 607.216 630.774 607.222C650.61 607.236
    682.005 606.704 682.004 607.917Z"
    fill="black"
    fill-opacity="0.1" />
  <path
    d="M423.282 606.055C423.282 608.129 422.419 610.54 412.257 610.54C406.551
    610.54 400.181 610.015 395.693 609.554C391.936 609.17 389.202 605.899
    392.918 605.229C393.965 605.04 395.312 604.926 397.038 604.926C407.199
    604.926 423.282 603.98 423.282 606.055Z"
    fill="#DFD8C4" />
  <path d="M961.864 425.123H890.416V570.698H961.864V425.123Z" fill="#C5C5C5" />
  <path
    d="M754.502 293.834C745.825 292.759 749.589 303.399 747.619 310.214L706.516
    307.912L702.54 286.177C708.734 283.342 744.75 282.508 760.611
    284.076C761.298 285.9 763.178 294.909 754.502 293.834Z"
    fill="#E3E0E0" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M421.029 286.087C423.576 280.729 426.982 279.568 432.34 282.116L483.556
    302.028C499.306 296.572 515.401 296.301 532.265 290.371C537.468 289.583
    550.1 290.506 555.028 291.667C560.803 293.025 554.616 296.253 553.258
    302.028C551.899 307.802 546.116 311.382 540.342 310.024C540.366 310.029
    540.188 309.987 539.746 309.957C539.317 309.929 538.738 309.917 537.991
    309.943C536.484 309.995 534.569 303.193 532.265 303.542C513.597 306.375
    496.379 320.918 478.742 327.281L431.102 310.535C425.745 307.988 418.482
    291.444 421.029 286.087Z"
    fill="#F9B679" />
  <path d="M352.999 271.363H324.238V442.071H352.999V271.363Z" fill="black" />
  <path
    d="M431.005 277.694C421.517 274.391 411.149 279.403 407.846 288.89C404.543
    298.378 409.555 308.747 419.043 312.049L431.005 277.694ZM419.043
    312.049L459.195 326.03L471.157 291.674L431.005 277.694L419.043 312.049Z"
    fill="#809998" />
  <path d="M838.217 271.363H809.456V442.071H838.217V271.363Z" fill="black" />
  <path d="M883.677 372.943H278.778V392.426H883.677V372.943Z" fill="#825D5D" />
  <path
    d="M750.886 298.767H688.065C687.238 298.767 686.8 297.79 687.351
    297.173L721.804 258.545"
    stroke="#ECA15C"
    stroke-width="20.5253"
    stroke-linecap="round" />
  <path d="M883.677 338.143H278.778V357.626H883.677V338.143Z" fill="#825D5D" />
  <path
    d="M713.704 284.076C721.643 283.27 739.483 286.261 739.483 286.261C736.194
    293.619 736.689 294.344 733.757 308.915L703.803 307.668C699.468 300.313
    701.562 295.118 713.704 284.076Z"
    fill="#E3E0E0" />
  <path d="M883.677 303.342H278.778V322.825H883.677V303.342Z" fill="#825D5D" />
  <path d="M326.859 467.121H306.448V586.802H326.859V467.121Z" fill="black" />
  <path d="M856.007 467.121H835.596V586.802H856.007V467.121Z" fill="black" />
  <path d="M883.676 429.318H278.777V472.769H883.676V429.318Z" fill="#825D5D" />
  <path
    d="M572.792 296.354C560.728 290.994 547.122 288.955 534.214 292.388C525.575
    294.686 523.358 294.721 526.088 301.195L538.344 305.214C538.344 305.214
    580.167 306.944 582.033 305.214C583.9 303.485 584.856 301.713 572.792
    296.354Z"
    fill="#F9B679" />
  <path
    d="M338.619 315.913C340.181 315.913 341.447 314.647 341.447 313.084C341.447
    311.522 340.181 310.256 338.619 310.256C337.056 310.256 335.79 311.522
    335.79 313.084C335.79 314.647 337.056 315.913 338.619 315.913Z"
    fill="#CFA844" />
  <path
    d="M338.619 350.714C340.181 350.714 341.447 349.447 341.447 347.885C341.447
    346.323 340.181 345.057 338.619 345.057C337.056 345.057 335.79 346.323
    335.79 347.885C335.79 349.447 337.056 350.714 338.619 350.714Z"
    fill="#CFA844" />
  <path
    d="M338.619 385.513C340.181 385.513 341.447 384.246 341.447 382.684C341.447
    381.122 340.181 379.855 338.619 379.855C337.056 379.855 335.79 381.122
    335.79 382.684C335.79 384.246 337.056 385.513 338.619 385.513Z"
    fill="#CFA844" />
  <path
    d="M823.836 315.913C825.399 315.913 826.665 314.647 826.665 313.084C826.665
    311.522 825.399 310.256 823.836 310.256C822.274 310.256 821.008 311.522
    821.008 313.084C821.008 314.647 822.274 315.913 823.836 315.913Z"
    fill="black" />
  <path
    d="M823.836 350.714C825.399 350.714 826.665 349.447 826.665 347.885C826.665
    346.323 825.399 345.057 823.836 345.057C822.274 345.057 821.008 346.323
    821.008 347.885C821.008 349.447 822.274 350.714 823.836 350.714Z"
    fill="black" />
  <path
    d="M823.836 385.513C825.399 385.513 826.665 384.246 826.665 382.684C826.665
    381.122 825.399 379.855 823.836 379.855C822.274 379.855 821.008 381.122
    821.008 382.684C821.008 384.246 822.274 385.513 823.836 385.513Z"
    fill="black" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M667.698 524.772C664.233 524.601 661.287 527.291 661.119 530.78L658.998
    553.875C658.931 559.824 664.077 562.247 667.543 562.419C671.008 562.59
    672.578 554.043 672.746 550.554L673.669 531.399C673.837 527.91 671.164
    524.943 667.698 524.772Z"
    fill="#FFB877" />
  <path
    d="M731.862 309.727C734.463 293.323 737.8 282.828 753.791 278.34C764.524
    275.327 775.556 273.155 779.899 275.327C795.541 283.148 822.471 337.487
    808.483 400.637C790.96 400.637 727.364 400.637 727.364 400.637C727.364
    370.681 727.158 339.391 731.862 309.727Z"
    fill="#F8F8F8" />
  <path
    d="M725.771 534.336L728.685 565.631"
    stroke="#FFB877"
    stroke-width="12.4454"
    stroke-linecap="round" />
  <path
    d="M773.115 352.34C773.115 352.34 819.476 331.067 811.117 402.786C793.594
    402.786 722.057 396.207 722.057 396.207C721.055 360.915 773.115 352.34
    773.115 352.34Z"
    fill="#F8F8F8" />
  <path
    d="M755.084 221.997L708.389 224.114C708.389 224.114 716.006 248.368 716.568
    268.583C737.469 276.221 758.796 244.732 758.796 244.732L755.084 221.997Z"
    fill="#FFB877" />
  <path
    d="M714.023 241.787C714.228 246.827 709.975 249.841 710.831 251.022C711.687
    252.203 715.655 252.71 715.655 252.71"
    stroke="#3E3E3E"
    stroke-width="1.79737"
    stroke-linecap="round" />
  <path
    d="M775.225 283.894C769.567 276.039 755.467 267.408 753.906 244.291L742.558
    259.061C739.696 262.101 734.859 258.923 737.482 260.726C740.105 262.529
    742.551 288.954 739.43 292.555L748.676 289.856C755.012 290.293 780.883
    291.749 775.225 283.894Z"
    fill="#FFB877" />
  <path
    d="M746.512 260.186L738.726 264.65C738.726 264.65 740.79 275.73 740.686
    278.264C740.686 278.264 745.031 264.774 746.512 260.186Z"
    fill="#3E3E3E" />
  <path
    d="M721.599 255.273C721.448 256.545 719.91 259.494 715.956 259.933"
    stroke="#3E3E3E"
    stroke-width="1.79737" />
  <path
    d="M729.386 366.471L733.173 368.56"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M730.431 364.576L734.218 366.666"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M783.816 357.846L789.811 361.896L783.306 365.063L783.816 357.846Z"
    fill="#585858" />
  <path
    d="M737.137 324.572L730.902 320.902L737.198 317.337L737.137 324.572Z"
    fill="#585858" />
  <path
    d="M721.848 301.351L717.163 298.077L722.341 295.656L721.848 301.351Z"
    fill="#585858" />
  <path
    d="M727.327 291.43L728.517 285.839L732.763 289.665L727.327 291.43Z"
    fill="#585858" />
  <path
    d="M797.004 349.373L800.203 352.284"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M798.46 347.775L801.659 350.686"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M713.673 291.334L717.979 290.928"
    stroke="#585858"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M713.47 289.182L717.776 288.775"
    stroke="#585858"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M731.117 336.521L734.341 339.455"
    stroke="#3F6580"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M732.584 334.91L735.808 337.844"
    stroke="#3F6580"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M749.274 324.387L752.498 327.321"
    stroke="#3F6580"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M750.741 322.775L753.965 325.709"
    stroke="#3F6580"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M736.722 301.27L739.946 304.203"
    stroke="#3F6580"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M738.189 299.658L741.413 302.592"
    stroke="#3F6580"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M739.747 348.052L744.791 353.239L737.777 355.013L739.747 348.052Z"
    fill="#585858" />
  <path
    d="M749.62 372.837L749.271 380.063L743.188 376.148L749.62 372.837Z"
    fill="#585858" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M758.901 314.709L756.132 374.431L695.897 385.011C690.727 385.011 693.777
    391.999 702 397.126L766.146 394.973C771.57 394.398 775.877 390.152 776.529
    384.737L786.12 336.131C789.167 310.817 760.606 300.543 758.901 314.709Z"
    fill="#FFB877" />
  <path
    d="M753.554 309.325C754.341 298.858 763.465 291.011 773.931 291.798C784.398
    292.585 792.246 301.708 791.459 312.175L753.554 309.325ZM791.459
    312.175L788.636 349.715L750.732 346.865L753.554 309.325L791.459 312.175Z"
    fill="#F3F2F2" />
  <path
    d="M752.551 339.415L757.983 343.163L758.512 336.584L752.551 339.415Z"
    fill="#585858" />
  <path
    d="M775.815 328.847L781.248 332.595L781.777 326.016L775.815 328.847Z"
    fill="#585858" />
  <path
    d="M780.151 340.711L782.761 345.722"
    stroke="#4F7793"
    stroke-width="1.11798"
    stroke-linecap="round" />
  <path
    d="M777.645 342.016L780.255 347.027"
    stroke="#4F7793"
    stroke-width="1.11798"
    stroke-linecap="round" />
  <path
    d="M769.761 317.502L772.371 322.513"
    stroke="#4F7793"
    stroke-width="1.11798"
    stroke-linecap="round" />
  <path
    d="M767.255 318.807L769.866 323.818"
    stroke="#4F7793"
    stroke-width="1.11798"
    stroke-linecap="round" />
  <path
    d="M774.843 295.76L775.212 301.398"
    stroke="#4F7793"
    stroke-width="1.11798"
    stroke-linecap="round" />
  <path
    d="M772.024 295.945L772.393 301.584"
    stroke="#4F7793"
    stroke-width="1.11798"
    stroke-linecap="round" />
  <path
    d="M757.412 306.03L760.17 312.026L763.984 306.639L757.412 306.03Z"
    fill="#585858" />
  <path
    d="M793.475 377.094L795.876 380.691"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M795.274 375.893L797.675 379.49"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M807.952 365.096L809.665 369.849L804.692 368.955L807.952 365.096Z"
    fill="#585858" />
  <path
    d="M751.293 296.619L753.006 301.372L748.034 300.479L751.293 296.619Z"
    fill="#585858" />
  <path
    d="M665.128 392.148C675.1 383.497 690.856 379.525 701.767 387.229C705.857
    390.116 708.528 391.708 706.503 395.005C702.869 400.92 690.239 399.184
    679.383 397.354C672.223 396.147 653.981 401.818 665.128 392.148Z"
    fill="#FFB877" />
  <path
    d="M768.406 277.404C759.864 274.961 749.102 280.353 737.383 283.582C735.401
    284.125 734.302 297.415 736.806 294.295C739.31 291.174 774.464 290.914
    773.521 289.452C772.578 287.99 776.533 279.729 768.406 277.404Z"
    fill="white" />
  <ellipse
    cx="628.066"
    cy="431.023"
    rx="14.0919"
    ry="1.06431"
    fill="black"
    fill-opacity="0.4" />
  <ellipse
    cx="545.048"
    cy="431.023"
    rx="14.0919"
    ry="1.06431"
    fill="black"
    fill-opacity="0.4" />
  <circle
    cx="723.254"
    cy="132.771"
    r="13.6037"
    transform="rotate(26.4006 723.254 132.771)"
    fill="#84D792" />
  <path
    d="M717.649 132.93C717.575 132.541 717.199 132.285 716.809 132.359C716.42
    132.433 716.164 132.809 716.238 133.199L717.649 132.93ZM727.969
    137.74C728.221 137.433 728.177 136.981 727.871 136.729C727.564 136.477
    727.112 136.522 726.86 136.828L727.969 137.74ZM716.238 133.199C716.524
    134.702 717.93 137.99 721.38 139.093L721.817 137.725C719.071 136.847 717.884
    134.165 717.649 132.93L716.238 133.199ZM721.38 139.093C724.775 140.178
    727.146 138.741 727.969 137.74L726.86 136.828C726.388 137.402 724.62 138.621
    721.817 137.725L721.38 139.093Z"
    fill="#585858" />
  <circle
    cx="719.273"
    cy="127.166"
    r="1.43985"
    transform="rotate(26.4006 719.273 127.166)"
    fill="#585858" />
  <circle
    cx="729.09"
    cy="130.434"
    r="1.43985"
    transform="rotate(26.4006 729.09 130.434)"
    fill="#585858" />
  <circle
    cx="439.689"
    cy="138.452"
    r="14.5679"
    transform="rotate(18.5272 439.689 138.452)"
    fill="#84D792" />
  <path
    d="M433.484 140.324C433.32 139.84 432.795 139.58 432.31 139.743C431.826
    139.907 431.566 140.432 431.729 140.917L433.484 140.324ZM445.122
    144.045C445.39 143.609 445.253 143.039 444.817 142.771C444.382 142.504
    443.811 142.64 443.544 143.076L445.122 144.045ZM431.729 140.917C432.263
    142.498 434.269 145.842 438.171 146.519L438.487 144.695C435.524 144.18
    433.905 141.571 433.484 140.324L431.729 140.917ZM438.171 146.519C441.998
    147.184 444.364 145.279 445.122 144.045L443.544 143.076C443.159 143.702
    441.524 145.222 438.487 144.695L438.171 146.519Z"
    fill="#585858" />
  <circle
    cx="434.644"
    cy="133.093"
    r="1.5419"
    transform="rotate(18.5272 434.644 133.093)"
    fill="#585858" />
  <circle
    cx="445.536"
    cy="135.118"
    r="1.5419"
    transform="rotate(18.5272 445.536 135.118)"
    fill="#585858" />
  <path
    d="M327.527 295.313C345.265 276.769 416.794 270.762 426.47 275.601C436.145
    280.438 436.056 406.169 436.056 406.169C436.056 406.169 308.747 429.835
    325.347 399.377C343.892 359.064 309.789 313.858 327.527 295.313Z"
    fill="#43FDD0" />
  <path
    d="M327.527 295.313C345.265 276.769 416.794 270.762 426.47 275.601C436.145
    280.438 436.056 406.169 436.056 406.169C436.056 406.169 308.747 429.835
    325.347 399.377C343.892 359.064 309.789 313.858 327.527 295.313Z"
    fill="#95B0AF" />
  <path
    d="M401.541 533.908L400.873 565.332"
    stroke="#FFB877"
    stroke-width="12.4454"
    stroke-linecap="round" />
  <path
    d="M328.445 410.837C331.283 412.564 343.925 412.003 350.598 407.903C357.321
    403.772 385.371 398.615 385.371 398.615L366.424 368.367L353.714
    370.873C353.714 370.873 327.461 393.695 328.445 410.837Z"
    fill="#95B0AF" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M334.783 299.225C340.716 299.225 345.525 304.033 345.525
    309.966V380.122L414.642 358.649C420.308 356.889 426.328 360.055 428.087
    365.72C429.847 371.386 425.914 372.4 420.249 374.16L341.694 403.808C332.933
    406.53 329.193 401.493 324.042 390.808C318.892 380.122 318.892 320.646
    318.892 320.646C318.892 314.713 328.851 299.225 334.783 299.225Z"
    fill="#FFB877" />
  <path
    d="M360.504 207.681L412.149 205.689C412.149 205.689 416.317 237.943 418.518
    262.125C394.682 274.201 360.991 245.406 360.991 245.406L360.504 207.681Z"
    fill="#FFB877" />
  <path
    d="M414.192 226.607C416.006 232.386 422.035 234.066 421.548 235.748C421.059
    237.43 416.78 239.614 416.78 239.614"
    stroke="#3E3E3E"
    stroke-width="1.8176"
    stroke-linecap="round" />
  <path
    d="M359.78 286.498C366.527 277.033 371.303 258.157 370.919 249.461L393.005
    256.166C396.459 259.799 404.675 259.161 401.536 261.34C398.398 263.521 399.7
    293.772 400.589 297.921L385.841 293.178C378.237 293.741 353.033 295.963
    359.78 286.498Z"
    fill="#FFB877" />
  <path
    d="M384.531 260.055C384.531 260.055 390.178 262.485 393.217 263.412C396.255
    264.338 400.387 264.686 400.387 264.686C400.387 264.686 399.558 274.335
    399.558 277.586C399.558 277.586 387.675 264.916 384.531 260.055Z"
    fill="#3E3E3E" />
  <path
    d="M409.684 246.369C410.185 247.774 412.71 250.733 417.364 250.237"
    stroke="#3E3E3E"
    stroke-width="1.8176" />
  <path
    d="M416.538 388.551L384.808 393.038"
    stroke="#FFB877"
    stroke-width="12.4454"
    stroke-linecap="round" />
  <path
    d="M382.748 291.453C363.781 290.978 362.208 285.421 362.238 280.678C355.491
    283.149 352.03 293.99 352.696 301.125L364.954 309.98C373.064 312.332 389.938
    317.074 392.549 317.23C395.16 317.385 405.848 306.14 410.865 300.497L400.103
    279.57C401.453 283.681 401.715 291.928 382.748 291.453Z"
    fill="#95B0AF" />
  <path
    d="M353.231 309.75C353.231 299.705 345.088 291.561 335.042 291.561C324.997
    291.561 316.853 299.705 316.853 309.75H353.231ZM316.853
    309.75V350.288H353.231V309.75H316.853V309.75Z"
    fill="#95B0AF" />
  <path
    d="M540.898 311.274C535.87 310.197 528.409 303.299 521.435 301.433L537.456
    297.508H552.569C552.369 298.954 551.761 302.296 550.923 304.092C549.876
    306.336 560.35 307.983 560.949 311.274C561.547 314.567 547.182 312.621
    540.898 311.274Z"
    fill="#F9B679" />
  <path
    d="M423.169 353C418.029 352.863 412.09 360.281 410.148 362.582L416.583
    365.569L431.271 369.128C431.418 367.675 431.613 364.284 431.222
    362.342C430.732 359.913 440.35 366.605 441.707 363.546C443.064 360.487
    429.594 353.171 423.169 353Z"
    fill="#FFB877" />
  <path
    d="M811.472 409.821L746.163 398.275L783.51 392.438H811.964L811.472 409.821Z"
    fill="#F8F8F8" />
  <path
    d="M903.359 449.012L905.655 552.645H901.063L903.359 449.012Z"
    fill="#3E3E3E" />
  <path
    d="M926.14 449.012L928.436 552.645H923.844L926.14 449.012Z"
    fill="#3E3E3E" />
  <path
    d="M948.921 449.012L951.216 552.645H946.625L948.921 449.012Z"
    fill="#3E3E3E" />
  <path
    d="M903.359 552.646L905.655 449.013H901.063L903.359 552.646Z"
    fill="black" />
  <path
    d="M926.14 552.646L928.436 449.013H923.844L926.14 552.646Z"
    fill="black" />
  <path
    d="M948.921 552.646L951.216 449.013H946.625L948.921 552.646Z"
    fill="black" />
  <rect x="883.676" y="443.035" width="6.73867" height="5.97727" fill="black" />
  <rect x="961.864" y="443.035" width="12.9545" height="5.97727" fill="black" />
  <path d="M962.807 418.957H889.472V430.855H962.807V418.957Z" fill="black" />
  <path d="M953.135 412.883H899.144V424.781H953.135V412.883Z" fill="black" />
  <path
    d="M374.668 438.239C365.035 438.239 329.35 423.297 328.734 413.55C328.094
    403.409 363.385 402.118 373.526 401.477L429.346 397.953L482.646
    362.636C491.116 357.022 501.284 359.007 506.898 367.478C512.51 375.948
    511.442 387.698 502.971 393.31L445.786 431.201C442.955 433.077 438.233
    435.404 434 436.195L374.994 438.784C375.451 438.227 375.057 438.239 374.668
    438.239ZM433.996 397.659C433.981 397.66 433.967 397.661 433.952
    397.662L433.996 397.659Z"
    fill="#292929" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M328.745 410.994C328.691 410.97 328.64 410.945 328.592 410.919C328.275
    414.91 328.491 418.554 329.047 420.682C330.56 426.479 337.039 431.352
    342.091 434.04C347.927 437.145 367.239 441.018 382.447 441.397C382.049
    460.855 383.441 485.708 384.558 505.651C385.146 516.154 385.658 525.295
    385.792 531.569C385.945 538.753 394.895 542.759 399.348 543.537C401.121
    543.847 404.781 543.913 406.545 543.56C410.576 542.754 418.093 539.451
    419.553 533.501C424.275 514.272 423.116 483.217 421.985 452.891C421.441
    438.318 420.904 423.912 421.028 411.069C421.346 410.37 421.465 409.715
    421.052 409.138C421.058 408.744 421.065 408.351 421.072 407.961C421.072
    407.961 419.976 407.402 418.113 406.713C406.65 399.397 384.327 404.019
    364.439 408.137C348.999 411.334 335.028 414.227 328.745 410.994Z"
    fill="#535353" />
  <path
    d="M405.065 405.079C405.065 405.079 396.88 390.949 400.097 381.73C401.341
    378.15 404.309 375.316 410.149 374.33L487.674 359.051C496.587 357.701
    504.772 362.784 508.142 370.749C508.735 372.128 509.175 373.602 509.453
    375.143C513.369 397.201 418.382 415.438 405.065 405.079Z"
    fill="#535353" />
  <rect
    x="619.13"
    y="394.33"
    width="17.8724"
    height="7.58537"
    rx="1.91467"
    fill="black" />
  <path
    d="M638.559 424.107C638.559 429.902 635.972 430.855 630.177 430.855L626.848
    430.855C621.053 430.855 617.573 429.902 617.573 424.107V406.083C617.573
    400.288 622.271 395.59 628.066 395.59C633.861 395.59 638.559 400.288 638.559
    406.083V424.107Z"
    fill="black" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M628.066 425.945C622.496 425.945 617.98 426.424 617.98 427.014C617.98
    427.102 618.079 427.187 618.266 427.268C618.079 427.35 617.98 427.435 617.98
    427.522C617.98 427.61 618.079 427.695 618.266 427.776C618.079 427.858 617.98
    427.943 617.98 428.03C617.98 428.118 618.079 428.203 618.266 428.284C618.079
    428.366 617.98 428.451 617.98 428.538C617.98 428.626 618.079 428.711 618.266
    428.792C618.079 428.874 617.98 428.959 617.98 429.047C617.98 429.134 618.079
    429.219 618.266 429.301C618.079 429.382 617.98 429.467 617.98 429.555C617.98
    429.642 618.079 429.727 618.266 429.809C618.079 429.89 617.98 429.975 617.98
    430.063C617.98 430.653 622.496 431.132 628.066 431.132C633.637 431.132
    638.153 430.653 638.153 430.063C638.153 429.975 638.053 429.89 637.866
    429.809C638.053 429.727 638.153 429.642 638.153 429.555C638.153 429.467
    638.053 429.382 637.866 429.301C638.053 429.219 638.153 429.134 638.153
    429.047C638.153 428.959 638.053 428.874 637.866 428.792C638.053 428.711
    638.153 428.626 638.153 428.538C638.153 428.451 638.053 428.366 637.866
    428.284C638.053 428.203 638.153 428.118 638.153 428.03C638.153 427.943
    638.053 427.858 637.866 427.776C638.053 427.695 638.153 427.61 638.153
    427.522C638.153 427.435 638.053 427.35 637.866 427.268C638.053 427.187
    638.153 427.102 638.153 427.014C638.153 426.424 633.637 425.945 628.066
    425.945Z"
    fill="black" />
  <path
    d="M555.542 424.109C555.542 429.904 552.955 430.857 547.16 430.857L543.831
    430.857C538.036 430.857 534.555 429.904 534.555 424.109V390.298C534.555
    384.503 539.253 379.805 545.049 379.805C550.844 379.805 555.542 384.503
    555.542 390.298V424.109Z"
    fill="#535353" />
  <rect
    x="539.085"
    y="376.012"
    width="11.9273"
    height="7.58537"
    rx="1.91467"
    fill="#535353" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M545.049 425.947C539.478 425.947 534.962 426.426 534.962 427.016C534.962
    427.104 535.062 427.189 535.249 427.27C535.062 427.352 534.962 427.437
    534.962 427.524C534.962 427.612 535.062 427.697 535.249 427.778C535.062
    427.86 534.962 427.945 534.962 428.032C534.962 428.12 535.062 428.205
    535.249 428.286C535.062 428.368 534.962 428.453 534.962 428.54C534.962
    428.628 535.062 428.713 535.249 428.794C535.062 428.876 534.962 428.961
    534.962 429.048C534.962 429.136 535.062 429.221 535.249 429.303C535.062
    429.384 534.962 429.469 534.962 429.557C534.962 429.644 535.062 429.729
    535.249 429.811C535.062 429.892 534.962 429.977 534.962 430.065C534.962
    430.655 539.478 431.133 545.049 431.133C550.619 431.133 555.135 430.655
    555.135 430.065C555.135 429.977 555.036 429.892 554.848 429.811C555.036
    429.729 555.135 429.644 555.135 429.557C555.135 429.469 555.036 429.384
    554.848 429.303C555.036 429.221 555.135 429.136 555.135 429.048C555.135
    428.961 555.036 428.876 554.848 428.794C555.036 428.713 555.135 428.628
    555.135 428.54C555.135 428.453 555.036 428.368 554.848 428.286C555.036
    428.205 555.135 428.12 555.135 428.032C555.135 427.945 555.036 427.86
    554.848 427.778C555.036 427.697 555.135 427.612 555.135 427.524C555.135
    427.437 555.036 427.352 554.848 427.27C555.036 427.189 555.135 427.104
    555.135 427.016C555.135 426.426 550.619 425.947 545.049 425.947Z"
    fill="#535353" />
  <circle
    cx="809.128"
    cy="178.368"
    r="13.4989"
    transform="rotate(27.7457 809.128 178.368)"
    fill="#825D5D" />
  <circle
    cx="293.21"
    cy="155.388"
    r="13.4989"
    transform="rotate(-20.1177 293.21 155.388)"
    fill="#825D5D" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M787.098 393.655C798.762 392.249 809.356 400.566 810.762 412.229C812.167
    423.893 803.851 434.488 792.187 435.893L743.202 441.796V525.6C743.202
    535.762 734.965 543.999 724.803 543.999C714.642 543.999 706.404 535.762
    706.404 525.6V421.561L706.404 433.269L688.011 434.042L683.692
    525.385C683.212 535.535 674.595 543.374 664.445 542.894C654.295 542.414
    646.456 533.797 646.936 523.647L652.036 415.762C652.36 408.924 656.376
    403.134 662.067 400.231C664.732 398.549 667.86 397.52 671.234
    397.378L698.299 396.241C698.387 396.297 698.475 396.353 698.565
    396.409H724.261C728.086 396.756 736.541 397.515 746.823 398.393L747.209
    398.461L787.098 393.655ZM734.426 558.61C734.426 558.61 726.556 565.023
    721.403 557.857C721.11 560.804 719.327 565.842 717.292 571.593C711.958
    586.67 704.891 606.643 718.392 606.643C726.448 606.643 738.062 601.496
    739.411 592.073C743.406 564.158 734.426 558.61 734.426 558.61ZM658.968
    551.51C667.033 558.516 673.491 550.941 673.491 550.941C673.491 550.941
    681.441 566.649 677.626 573.473C674.786 574.389 670.441 576.147 665.407
    578.184L665.406 578.185L665.404 578.185L665.403 578.186C649.154 584.76
    625.74 594.234 622.687 587.647C619.54 580.855 633.076 570.842 647.447
    560.213C651.331 557.34 655.275 554.422 658.968 551.51Z"
    fill="#54acd2" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M421.464 397.66C448.902 397.583 499.075 385.693 508.141 370.749C504.772
    362.784 496.586 357.701 487.674 359.051L410.149 374.33C404.309 375.316
    401.341 378.15 400.097 381.73C402.653 391.035 411.431 397.689 421.464
    397.66ZM399.348 430.026C395.616 458.448 394.123 532.957 406.039
    538.09C413.591 541.344 417.699 534.139 420.068 525.956C423.916 512.67
    424.204 431.249 420.612 408.063C413.574 405.47 402.36 407.091 399.348
    430.026Z"
    fill="#9F9F9F" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M746.823 398.392C732.721 397.188 722.057 396.207 722.057 396.207C722.057
    396.207 675.57 397.204 671.234 397.377C667.86 397.519 664.732 398.548
    662.067 400.23C656.376 403.134 652.36 408.923 652.036 415.761L646.936
    523.646C646.456 533.796 654.295 542.414 664.445 542.893C674.595 543.373
    683.212 535.534 683.692 525.384L688.011 434.041L706.404
    433.268V421.56C706.404 414.487 710.395 408.346 716.248 405.267C719.2 402.959
    722.799 401.402 726.791 400.921L747.209 398.46L746.823 398.392ZM658.968
    551.509C667.033 558.515 673.491 550.94 673.491 550.94C673.491 550.94 681.441
    566.648 677.626 573.472C674.786 574.389 670.44 576.147 665.406
    578.184L665.404 578.185C649.154 584.759 625.74 594.233 622.687
    587.647C619.54 580.855 633.076 570.842 647.447 560.212C651.331 557.339
    655.275 554.421 658.968 551.509Z"
    fill="black"
    fill-opacity="0.18" />
  <path
    d="M441.019 365.92C432.894 355.515 420.805 361.367 407.897 364.8C399.258
    367.097 400.606 370.248 403.334 376.723C409.659 373.24 414.939 370.636
    423.077 380.07C435.643 392.835 450.102 377.551 441.019 365.92Z"
    fill="#FFB877" />
  <path
    d="M803.272 179.142C803.186 178.621 802.693 178.268 802.171 178.355C801.649
    178.441 801.297 178.935 801.384 179.456L803.272 179.142ZM813.342
    184.354C813.688 183.953 813.643 183.349 813.242 183.004C812.842 182.658
    812.237 182.703 811.892 183.104L813.342 184.354ZM801.384 179.456C801.64 181
    802.993 184.399 806.509 185.614L807.135 183.805C804.549 182.911 803.469
    180.326 803.272 179.142L801.384 179.456ZM806.509 185.614C809.952 186.804
    812.441 185.4 813.342 184.354L811.892 183.104C811.472 183.59 809.793 184.724
    807.135 183.805L806.509 185.614Z"
    fill="#84D792" />
  <circle
    cx="805.309"
    cy="172.717"
    r="1.42875"
    transform="rotate(27.7457 805.309 172.717)"
    fill="#84D792" />
  <circle
    cx="814.971"
    cy="176.186"
    r="1.42875"
    transform="rotate(27.7457 814.971 176.186)"
    fill="#84D792" />
  <path
    d="M289.856 160.249C289.411 159.964 288.819 160.093 288.534 160.538C288.248
    160.983 288.377 161.575 288.822 161.861L289.856 160.249ZM300.477
    156.279C300.412 155.754 299.933 155.382 299.409 155.447C298.884 155.512
    298.512 155.991 298.577 156.515L300.477 156.279ZM288.822 161.861C290.139
    162.706 293.567 163.984 296.827 162.191L295.905 160.514C293.508 161.831
    290.867 160.898 289.856 160.249L288.822 161.861ZM296.827 162.191C300.02
    160.437 300.648 157.649 300.477 156.279L298.577 156.515C298.656 157.153
    298.37 159.158 295.905 160.514L296.827 162.191Z"
    fill="#84D792" />
  <circle
    cx="286.458"
    cy="154.428"
    r="1.42875"
    transform="rotate(-20.1177 286.458 154.428)"
    fill="#84D792" />
  <circle
    cx="295.512"
    cy="149.59"
    r="1.42875"
    transform="rotate(-20.1177 295.512 149.59)"
    fill="#84D792" />
  <path
    d="M655.494 566.562L644.294 559.541"
    stroke="#292929"
    stroke-width="2.89938"
    stroke-linecap="round" />
  <path
    d="M646.698 569.853L635.498 562.832"
    stroke="#292929"
    stroke-width="2.89938"
    stroke-linecap="round" />
  <path
    d="M716.867 569.223L735.314 569.151"
    stroke="#292929"
    stroke-width="2.89937"
    stroke-linecap="round" />
  <path
    d="M711.622 577.574H732.644"
    stroke="#292929"
    stroke-width="2.89937"
    stroke-linecap="round" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M243.994 592.181C243.802 589.929 237.948 574.751 231.807 566.84C224.342
    557.225 216.453 547.063 217.798 545.194C219.241 543.189 225.695 546.138
    231.594 548.833C235.719 550.718 239.572 552.479 241.252 552.336C243.201
    552.17 241.072 545.687 238.593 538.137C235.878 529.872 232.744 520.328
    234.081 516.393C235.672 511.71 243.573 516.746 250.29 521.028C254.37 523.629
    258.014 525.952 259.542 525.649C261.379 525.285 261.008 520.022 260.604
    514.293C260.119 507.407 259.587 499.85 262.786 499.329C266.941 498.65
    272.729 517.149 275.605 526.338C275.874 527.199 277.587 533.45 277.271
    530.003C276.948 526.454 276.412 520.575 278.008 517.371C278.059 517.016
    278.134 516.688 278.235 516.393C279.826 511.71 287.727 516.746 294.444
    521.028C298.525 523.629 302.168 525.952 303.696 525.649C305.533 525.285
    305.162 520.022 304.758 514.293C304.274 507.407 303.741 499.85 306.939
    499.329C311.096 498.65 316.884 517.149 319.759 526.338C320.936 530.102
    321.626 532.304 321.514 530.986C321.488 530.685 321.458 530.356 321.426
    530.003C320.974 525.054 320.109 515.57 325.191 515.138C329.546 514.767
    333.446 536.976 334.852 548.128C336.255 543.134 340.296 534.779 345.238
    541.304C350.179 547.829 340.367 580.136 334.843 592.181H243.994Z"
    fill="#84D792" />
  <path
    d="M923.093 523.06C929.785 531.895 916.649 575.709 912.487 588.924C911.831
    591.008 908.893 592.181 906.709 592.181H834.921C833.307 592.181 830.216
    591.285 829.27 589.977C821.561 579.314 788.158 533.992 791.605
    529.202C795.475 523.822 822.187 541.026 828.633 540.477C835.078 539.929
    813.273 495.617 817.311 483.732C821.349 471.845 851.124 499.609 857.509
    498.344C863.894 497.079 853.379 458.299 862.629 456.79C871.878 455.281
    886.248 513.933 885.638 506.77C885.028 499.609 882.849 482.482 891.443
    481.75C898.319 481.165 904.477 516.228 906.698 533.833C908.912 525.949
    915.292 512.759 923.093 523.06Z"
    fill="#84D792" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M394.041 213.46L381.177 213.557C378.987 216.755 381.938 224.39 384.81
    229.419L375.875 231.822C374.008 226.315 368.007 221.649 364.334
    227.302C362.018 230.868 366.185 235.395 370.319 239.887C372.738 242.516
    375.147 245.133 376.238 247.538C379.194 254.053 371.66 257.075 368.367
    258.271C365.073 259.466 347.622 264.535 347.19 253.859C346.759 243.183
    345.419 224.063 341.556 210.576C338.464 199.786 350.7 197.247 353.584
    202.127C353.031 201.194 353.001 199.928 353.351 198.443C351.133 167.586
    354.686 160.472 362.456 158.23C366.707 157.004 371.704 161.198 375.756
    166.767C384.85 157.374 395.609 152.196 406.649 162.739C408.089 164.113
    409.233 166.063 410.14 168.391C412.071 167.85 414.089 168.129 416.142
    169.569C425.453 176.101 416.844 198.982 412.586 208.345C412.586 208.345
    405.777 212.826 394.041 213.46ZM394.366 556.808C394.366 556.808 402.005
    563.988 407.355 556.967C408.337 570.672 411.835 576.801 414.853
    582.088C417.141 586.096 419.152 589.621 419.581 595.598C420.42 607.3 414.958
    609.309 400.921 605.997C395.584 604.738 391.636 600.222 391.009
    594.774C387.789 566.758 394.366 556.808 394.366 556.808ZM391.342
    385.516C384.723 391.354 392.076 398.34 392.076 398.34C392.076 398.34 381.888
    406.156 353.714 404.947C348.236 404.712 343.449 401.097 341.811
    395.863C337.503 382.1 339.116 376.508 350.848 376.508C356.84 376.508 360.702
    378.183 365.094 380.089C370.887 382.603 377.602 385.516 391.342 385.516Z"
    fill="#e46382" />
  <path
    d="M811.472 409.821L746.163 398.275L783.51 392.438H811.964L811.472 409.821Z"
    fill="#F8F8F8" />
  <path
    d="M788.026 391.164L789.738 395.917L784.766 395.024L788.026 391.164Z"
    fill="#585858" />
  <path
    d="M802.104 394.564L806.366 393.825"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M801.734 392.434L805.996 391.694"
    stroke="#4F7793"
    stroke-width="0.855759"
    stroke-linecap="round" />
  <path
    d="M705.262 237.74C705.262 237.74 710.565 233.628 733.852 233.418C739.912
    266.283 760.621 265.032 763.098 296.555C764.357 312.587 758.781 311.416
    764.931 321.891C771.081 332.365 787.825 321.941 796.607 334.452C805.807
    347.559 827.213 352.363 816.814 323.529C810.806 306.872 813.25 281.52
    804.959 268.359C796.668 255.198 784.595 258.081 779.924 227.048C775.25
    196.001 741.183 192.057 727.757 201.734C692.723 201.734 705.262 237.74
    705.262 237.74Z"
    fill="black" />
</svg>
