<style>
  footer {
    background-color: #e97f98;
  }

  .divider {
    position: static;
    height: 700px;
    width: 100%;
    color: #e97f98;
    background-image: url("/FooterBackground.svg");
    background-size: 110vw 800px;
    background-repeat: no-repeat;
    overflow: hidden;
  }
</style>

<div class="divider" />
<footer />
