<style>
  .galaxy {
    position: absolute;
    top: -220px;
    right: -450px;
    z-index: -1;
  }
</style>

<svg
  class="galaxy"
  width="1155"
  height="700"
  viewBox="0 0 1155 700"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path
    d="M501.094 481.968C508.775 536.467 540.23 545.976 540.23 545.976C540.23
    545.976 541.328 547.805 553.398 545.976C566.497 543.992 567.297 541.222
    577.173 540.124C587.653 538.96 596.558 550 604.97 550C613.383 550 621.376
    544.709 622.161 543.782C622.161 543.782 639.919 527.939 649.228
    515.984C660.124 501.989 656.395 494.041 672.271 476.847C687.218 460.659
    716.264 456.241 727.501 430.395C738.474 405.158 732.07 385.416 753.47
    374.068C777.61 361.266 778.612 362.747 790.412 350.293C809.443 330.208
    812.438 311.572 815.65 284.09C828.194 176.75 681.369 262.48 540.23
    164.485C469.638 115.473 335.743 199.349 339.061 288.845C340.073 316.155
    371.33 330.262 360.641 355.414C348.205 384.675 392.104 391.806 419.894
    399.671C439.28 405.158 426.982 442.166 445.498 459.656C462.505 475.721
    497.829 458.802 501.094 481.968Z"
    fill="#54acd2"
    fill-opacity="0.64" />
  <path
    d="M551.507 470.774C568.185 479.552 564.796 521.249 561.016 541C522.245
    565.872 502.489 493.817 500.3 479.186C498.111 464.556 465.37 472.944 449.459
    460.166C430.74 445.134 443.05 414.595 427.513 401.279C417.271 392.5 350.336
    384.819 359.846 363.605C369.356 342.391 356.554 320.079 348.508
    313.861C320.71 248.902 378.135 195.232 410.322 177.797C419.71 184.259
    448.212 200.473 442.875 209.253C420.198 246.561 401.91 289.721 420.198
    305.449C426.853 311.172 401.91 372.383 457.506 395.061C481.434 404.821
    477.622 426.15 500.3 445.536C522.977 464.921 530.658 459.801 551.507
    470.774Z"
    fill="#7E48F1"
    fill-opacity="0.08" />
  <path
    d="M586.985 421.03C642.022 421.03 617.77 441.368 604.968 485.039C592.166
    528.71 596.556 550 604.968 550C613.38 550 621.373 544.709 622.159
    543.782C622.159 543.782 639.917 527.939 649.225 515.984C660.122 501.99
    656.393 494.041 672.268 476.847C687.215 460.659 716.261 456.241 727.498
    430.395C738.471 405.158 732.068 385.416 753.468 374.068C777.608 361.266
    778.609 362.747 790.41 350.293C809.441 330.209 812.436 311.572 815.647
    284.09C828.192 176.75 681.367 262.48 540.228 164.485C527.792 193.747 416.905
    219.495 474.33 325.201C483.947 342.904 518.953 334.345 518.953
    381.894C518.953 405.288 514.137 421.03 586.985 421.03Z"
    fill="#e46382" />
  <path
    d="M586.985 421.03C642.022 421.03 617.77 441.368 604.968 485.039C592.166
    528.71 596.556 550 604.968 550C613.38 550 621.373 544.709 622.159
    543.782C622.159 543.782 639.917 527.939 649.225 515.984C660.122 501.99
    656.393 494.041 672.268 476.847C687.215 460.659 716.261 456.241 727.498
    430.395C738.471 405.158 732.068 385.416 753.468 374.068C777.608 361.266
    778.609 362.747 790.41 350.293C809.441 330.209 812.436 311.572 815.647
    284.09C828.192 176.75 681.367 262.48 540.228 164.485C527.792 193.747 416.905
    219.495 474.33 325.201C483.947 342.904 518.953 334.345 518.953
    381.894C518.953 405.288 514.137 421.03 586.985 421.03Z"
    fill="white"
    fill-opacity="0.15" />
  <path
    d="M632.9 390.785C668.392 390.785 652.753 403.901 644.497 432.063C636.242
    460.225 639.072 473.954 644.497 473.954C649.922 473.954 655.076 470.542
    655.583 469.944C655.583 469.944 667.034 459.727 673.037 452.018C680.064
    442.993 677.659 437.868 687.897 426.78C697.536 416.341 716.267 413.492
    723.513 396.824C730.589 380.549 726.46 367.819 740.26 360.501C755.827
    352.245 756.473 353.2 764.083 345.169C776.355 332.217 771.085 317.721
    780.358 302.477C844.85 196.452 662.7 228.639 631.245 206.328C614.522 194.466
    523.221 260.821 560.253 328.988C566.454 340.404 589.028 334.884 589.028
    365.547C589.028 380.634 585.923 390.785 632.9 390.785Z"
    fill="white"
    fill-opacity="0.05" />
  <circle cx="493.287" cy="331.007" r="35.4339" fill="#FA7AB7" />
  <path
    d="M493.287 366.441C512.856 366.441 528.721 350.577 528.721 331.007C528.721
    311.437 512.856 295.573 493.287 295.573C493.287 295.573 470.373 313.465
    470.373 334.55C470.372 354.866 493.287 366.441 493.287 366.441Z"
    fill="white"
    fill-opacity="0.16" />
  <path
    d="M502.972 364.551C516.909 362.661 528.957 346.529 528.957 330.921C528.957
    315.313 517.854 302.896 506.043 297.935C506.043 297.935 482.42 316.93 482.42
    333.747C482.42 349.95 502.972 364.551 502.972 364.551Z"
    fill="white"
    fill-opacity="0.16" />
  <path
    d="M461.395 348.252C453.52 352.74 447.079 358.372 449.111 362.898C454.308
    374.473 548.105 323.157 543.129 312.582C541.239 308.566 530.766 310.692
    525.176 312.582"
    stroke="#FDFEFF"
    stroke-width="4.01939"
    stroke-linecap="round" />
  <circle
    r="22.4713"
    transform="matrix(-1 0 0 1 655.295 397.05)"
    fill="#7AA6FA" />
  <path
    d="M655.294 419.521C642.883 419.521 632.823 409.46 632.823 397.05C632.823
    384.639 642.883 374.579 655.294 374.579C655.294 374.579 669.825 385.925
    669.826 399.297C669.826 412.181 655.294 419.521 655.294 419.521Z"
    fill="white"
    fill-opacity="0.16" />
  <path
    d="M649.153 418.323C640.314 417.125 632.674 406.894 632.674 396.996C632.674
    387.098 639.715 379.223 647.205 376.077C647.205 376.077 662.186 388.123
    662.186 398.788C662.186 409.064 649.153 418.323 649.153 418.323Z"
    fill="white"
    fill-opacity="0.16" />
  <path
    d="M675.52 407.986C680.514 410.832 684.599 414.404 683.31 417.274C680.015
    424.614 620.531 392.071 623.687 385.365C624.885 382.818 631.527 384.166
    635.072 385.365"
    stroke="#FDFEFF"
    stroke-width="2.549"
    stroke-linecap="round" />
  <path
    d="M511.903 260.11C512.135 259.405 513.132 259.405 513.364 260.11L514.532
    263.661C514.602 263.873 514.761 264.045 514.967 264.131L518.365
    265.545C518.996 265.808 518.996 266.702 518.365 266.965L514.967
    268.379C514.761 268.465 514.602 268.637 514.532 268.849L513.364
    272.4C513.132 273.105 512.135 273.105 511.903 272.4L510.735 268.849C510.666
    268.637 510.507 268.465 510.3 268.379L506.903 266.965C506.272 266.702
    506.272 265.808 506.903 265.545L510.3 264.131C510.507 264.045 510.666
    263.873 510.735 263.661L511.903 260.11Z"
    fill="white" />
  <path
    d="M428.245 248.956C428.477 248.251 429.474 248.251 429.706 248.956L430.874
    252.507C430.944 252.719 431.102 252.891 431.309 252.976L434.706
    254.391C435.337 254.654 435.337 255.548 434.706 255.811L431.309
    257.225C431.102 257.311 430.944 257.482 430.874 257.695L429.706
    261.246C429.474 261.95 428.477 261.95 428.245 261.246L427.077
    257.695C427.007 257.482 426.848 257.311 426.642 257.225L423.244
    255.811C422.613 255.548 422.613 254.654 423.244 254.391L426.642
    252.976C426.848 252.891 427.007 252.719 427.077 252.507L428.245 248.956Z"
    fill="white" />
  <path
    d="M424.528 354.922C424.76 354.217 425.757 354.217 425.989 354.922L427.157
    358.473C427.227 358.685 427.386 358.856 427.592 358.942L430.989
    360.357C431.621 360.619 431.621 361.514 430.989 361.777L427.592
    363.191C427.386 363.277 427.227 363.448 427.157 363.66L425.989
    367.211C425.757 367.916 424.76 367.916 424.528 367.212L423.36 363.66C423.29
    363.448 423.131 363.277 422.925 363.191L419.528 361.777C418.896 361.514
    418.896 360.619 419.528 360.357L422.925 358.942C423.131 358.856 423.29
    358.685 423.36 358.473L424.528 354.922Z"
    fill="white" />
  <path
    d="M667.355 341.334C667.51 340.835 668.217 340.835 668.371 341.334L669.047
    343.528C669.092 343.674 669.199 343.794 669.339 343.857L671.417
    344.779C671.838 344.966 671.838 345.564 671.417 345.75L669.339
    346.673C669.199 346.735 669.092 346.855 669.047 347.002L668.371
    349.196C668.217 349.695 667.51 349.695 667.355 349.196L666.679
    347.002C666.634 346.855 666.527 346.735 666.387 346.673L664.309
    345.75C663.888 345.564 663.888 344.966 664.309 344.779L666.387
    343.857C666.527 343.794 666.634 343.674 666.679 343.528L667.355 341.334Z"
    fill="white" />
  <path
    d="M632.034 424.991C632.188 424.492 632.895 424.492 633.049 424.991L633.726
    427.185C633.771 427.332 633.877 427.452 634.018 427.514L636.096
    428.437C636.517 428.623 636.517 429.221 636.096 429.408L634.018
    430.33C633.877 430.393 633.771 430.513 633.726 430.659L633.049
    432.853C632.895 433.352 632.188 433.352 632.034 432.853L631.357
    430.659C631.312 430.513 631.206 430.393 631.065 430.33L628.987
    429.408C628.567 429.221 628.567 428.623 628.987 428.437L631.065
    427.514C631.206 427.452 631.312 427.332 631.357 427.185L632.034 424.991Z"
    fill="white" />
</svg>
