<script>
  import { onMount } from "svelte";
  import * as animateScroll from "svelte-scrollto";

  export let segment;

  // Test if device is a mobile device
  let isMobile = false;
  onMount(() => {
    if (
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        window.navigator.userAgent
      )
    ) {
      // If it is a mobile device, move the header to the bottom of the screen.
      // This makes it easier to reach navigation links with your fingers.
      isMobile = true;
    }
  });
</script>

<style>
  header * {
    display: inline;
  }

  header {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5rem;

    /* Blue */
    background: var(--blue);

    /* Medium Elevation */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);

    z-index: 1000;
  }

  header.mobile {
    padding-bottom: 1rem;
    top: initial;
    bottom: 0;
  }

  header > a {
    padding-top: auto;
    margin: 4px 4px 4px 2em;
  }

  header.mobile > a {
    padding-top: 5;
    margin: 4px 0px 4px 1em;
  }

  img {
    display: block;
    height: 2rem;
    border-radius: 100px;
  }

  nav {
    align-self: center;
    padding: 0px 36px 0px 0px;
    width: 100%;
  }

  nav ul {
    display: flex;
    width: 100%;
  }

  nav ul li a {
    height: 2.5rem;

    background: linear-gradient(
      to bottom,
      var(--lightPink) 0%,
      var(--darkPink) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 2px;
    padding: 0.55rem;

    color: var(--blueBlack);
    text-decoration: none;
    transition: background-size 0.2s;
  }

  nav ul li a:hover {
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-size: 4px 50px;
  }

  nav.mobile ul li a {
    background-position: 100% 0;
  }

  nav ul li:not(:last-child) {
    margin-right: 2em;
  }

  nav ul li:last-child {
    margin-left: auto;
    margin-right: 2em;
  }

  @media only screen and (max-width: 630px) {
    nav ul li:last-child {
      margin-left: 0px;
      margin-right: 1em;
    }

    nav ul li:not(:last-child) {
      margin-right: 1em;
    }

    nav ul {
      justify-content: space-around;
    }
  }
</style>

<header class:mobile={isMobile === true}>
  <a
    aria-current={segment === '/' ? 'page' : undefined}
    href="/#"
    on:click={() => animateScroll.scrollTo({
        element: '#header',
        duration: 1000
      })}>
    <img alt="MSC Logo" src="logo.png" />
  </a>

  <nav class:mobile={isMobile === true}>
    <ul>
      <li>
        <a
          target="_blank"
          aria-current={segment === 'blog' ? 'page' : undefined}
          href="https://blog.mapsupport.club/msc">
          Blog
        </a>
      </li>
      <li>
        <a
          target="_blank"
          aria-current={segment === 'chat' ? 'page' : undefined}
          href="https://chat.mapsupport.club">
          Chat
        </a>
      </li>
      <li>
        <a
          aria-current={segment === 'sign-up' ? 'page' : undefined}
          href="/#sign-up"
          on:click={() => animateScroll.scrollTo({
              element: '#sign-up',
              duration: 1000,
              offset: -25
            })}>
          Sign Up
        </a>
      </li>
    </ul>
  </nav>
</header>
