<style>
  svg {
    position: absolute;
    top: 180px;
    right: 17vw;
    height: 400px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 1040px) {
    svg {
      height: 0px;
      width: 0px;
      display: hidden;
    }
  }
</style>

<svg viewBox="0 0 88 143" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M64.1884 13.0795L50.9368 39.0222C57.8937 39.0222 66.9492 42.2906 70.6071
    43.9249C71.9322 40.4929 82.7544 25.0635 88 17.7778L64.1884 13.0795Z"
    fill="#DAE9FF" />
  <path
    d="M62.946 21.1961L61.1235 24.792M55.4921 35.9038L61.1235 24.792L55.4921
    35.9038ZM68.3298 25.2814L75.5766 23.8514L78.7719 25.2814H68.3298ZM68.3298
    25.2814L67.2945 26.6742L68.3298 25.2814ZM68.3298 25.2814L69.0545
    22.252L68.3298 25.2814ZM78.7719 25.2814C79.9975 23.3716 80.8514 22.0232
    80.9603 21.8087C81.2032 21.3292 75.2187 20.1604 69.7789 19.2223L78.7719
    25.2814ZM78.7719 25.2814C76.2611 29.1948 72.1909 35.4655 69.7789
    39.1721L67.2945 38.5289L78.7719 25.2814ZM76.1979 27.9371L67.2945
    26.6742L76.1979 27.9371ZM67.2945 26.6742L66.3555 27.9371L67.2945
    26.6742ZM67.2945 26.6742L61.1235 24.792L67.2945 26.6742ZM66.3555
    27.9371L61.4968 34.4738L66.6731 35.9038L69.7789 30.3884L62.946
    27.9371L61.4968 30.3884L66.6731 31.4098L65.4308 33.4524L59.426
    31.4098L57.1484 35.9038L67.2945 38.5289L66.3555 27.9371ZM66.3555
    27.9371L73.0921 29.3668L67.2945 38.5289L66.3555 27.9371ZM69.7789
    19.2223C67.805 18.882 65.9027 18.5719 64.3955 18.3361L62.946 21.1961L69.7789
    19.2223ZM69.7789 19.2223L69.0545 22.252L69.7789 19.2223ZM69.0545
    22.252L62.946 21.1961L69.0545 22.252Z"
    stroke="#359EFF"
    stroke-opacity="0.19"
    stroke-width="1.43033" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M26.5007 130.808C26.4887 131.911 26.4433 136.016 26.5036
    137.686H30.6446L31.4731 128.289L26.5036 128.493V130.536C26.5036 130.556
    26.5026 130.652 26.5007 130.808ZM36.029 129.311V137.686L39.9629
    137.277L40.5843 128.698L36.029 129.311Z"
    fill="#B44343" />
  <path
    d="M27.906 132.171L26.507 132.049L26.5067 136.589L27.6173 136.778L27.906
    132.171Z"
    fill="black"
    fill-opacity="0.13" />
  <path
    d="M37.4787 132.714L36.0417 132.525V137.061L37.287 137.25L37.4787 132.714Z"
    fill="black"
    fill-opacity="0.13" />
  <path
    d="M52.1792 30.0338L39.9625 35.1408L35.6144 36.7752L38.0992 43.5162L41.8263
    41.0649L54.6639 32.0768C54.6639 32.0768 59.694 30.4425 60.0474
    30.0338C60.9818 28.9534 57.5034 30.2804 57.0166 28.9439C56.3315 27.0626
    59.8161 23.9729 59.2559 23.0891C58.9457 22.5991 52.1792 30.0338 52.1792
    30.0338Z"
    fill="#C54040" />
  <path
    d="M50.7293 33.9152C45.7598 37.5919 40.3764 39.8389 40.3764 39.8389L38.9269
    40.4519V43.1076L41.2045 41.4732L54.4564 32.2809C54.4564 32.2809 51.6554
    33.2298 50.7293 33.9152Z"
    fill="black"
    fill-opacity="0.12" />
  <path
    d="M28.4626 16.0188C28.4626 16.6725 27.1188 19.1556 27.1188 20.769C30.8459
    21.586 30.8627 22.3089 33.3474 23.1069L35.0691 17.7863C35.0691 17.7863
    35.9649 18.1178 37.8686 18.1178C39.7722 18.1178 43.7078 5.96754 41.2046
    3.2928C38.7019 0.618384 35.5948 0.68893 31.4731 3.2928C27.351 5.89699
    28.4626 15.3652 28.4626 16.0188Z"
    fill="#C44949" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M42.0327 61.9006C39.0509 64.3516 27.6766 62.9219 22.3621 61.9006C24.2255
    56.1809 24.4516 52.386 22.3621 44.828C20.2729 37.2696 22.7042 19.5907
    29.8946 19.163C32.9444 18.9815 35.6156 23.6414 37.67 29.8737C39.0963 32.9129
    40.1732 36.3017 40.7903 38.8175L40.091 39.155C41.3804 45.427 42.0852 51.7539
    42.0327 55.7722V61.9006ZM40.1838 142.969H40.1841C46.3747 143.011 53.7897
    143.062 54.249 142.738C55.6988 141.717 54.7937 139.81 53.5765 139.424C52.452
    139.067 51.2022 138.747 50.032 138.448H50.0316C48.4108 138.033 46.9433
    137.657 46.1737 137.277C45.6342 137.011 45.0766 136.77 44.5554
    136.545C43.4757 136.078 42.5526 135.679 42.2733 135.266C42.1322 135.057
    41.5318 135.357 40.7027 135.771C39.0963 136.572 36.6316 137.801 34.9927
    136.589C34.9927 136.589 34.8767 136.926 34.7485 137.42C33.1454 136.759
    32.094 136.256 32.094 136.256C30.0122 136.872 28.3836 137.156 25.054
    136.256C24.431 139.483 24.6848 140.569 24.89 141.447C24.9763 141.816 25.054
    142.149 25.054 142.588H34.8886C34.9505 142.811 34.9927 142.943 34.9927
    142.943C36.4376 142.943 38.2511 142.955 40.1838 142.969Z"
    fill="#3D3D3D" />
  <path
    d="M54.2488 142.739C53.6461 143.163 41.0661 142.943 34.9924 142.943C34.9924
    142.943 34.3595 140.972 34.4184 139.424C34.4684 138.109 34.9924 136.589
    34.9924 136.589C37.4772 138.427 41.8588 134.653 42.2731 135.266C42.6873
    135.879 44.5169 136.46 46.1735 137.277C47.4986 137.931 50.8943 138.573
    53.5762 139.424C54.7935 139.81 55.6986 141.717 54.2488 142.739Z"
    fill="white"
    fill-opacity="0.09" />
  <path
    d="M44.9233 136.984C44.7739 137.389 44.4753 137.868 43.4674 139.524M45.0351
    136.984C44.214 136.358 42.818 135.15 43.8034 135.327C44.7887 135.503 45.0351
    136.505 45.0351 136.984ZM45.0351 136.984C45.3337 136.063 45.9756 134.443
    46.1551 135.327C45.9682 135.805 45.4828 136.807 45.0351 136.984ZM45.0351
    136.984C45.5202 137.278 47.1626 137.536 48.0584 138.42L45.0351 136.984Z"
    stroke="black"
    stroke-width="0.773515"
    stroke-linecap="round" />
  <path
    d="M36.4429 11.6492C37.0639 11.0365 38.7205 4.90816 38.7205 4.90816C38.7205
    3.61448 35.9874 3.1108 34.1653 2.45713C32.3431 1.80346 30.3328 3.68249
    29.9186 4.90816C27.9195 7.59719 28.078 13.4335 28.4336 15.95C28.4336 15.95
    30.6993 15.0821 31.9285 14.587C34.1176 13.7055 32.9844 11.6492 34.4381
    10.5582C35.8918 9.46699 35.5851 12.4954 36.4429 11.6492Z"
    fill="#070707" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M42.033 61.9006L45.7602 98.2614L42.033 133.396L33.9606 132.531L33.9574
    132.579L25.054 131.967L27.953 101.938L25.294 82.4529C22.5225 77.1104 20.6752
    71.249 22.3628 61.9006C27.3319 62.922 37.6849 64.352 42.033 61.9006Z"
    fill="#54ACD2" />
  <path
    d="M45.7602 98.2614L42.0331 61.9006C37.6849 64.352 27.332 62.922 22.3628
    61.9006C20.2092 73.8303 23.812 80.081 27.7462 86.822C31.6805 93.5631 34.372
    100.917 34.372 100.917L32.5083 132.375L40.1194 133.205L45.7602 98.2614Z"
    fill="white"
    fill-opacity="0.09" />
  <path
    d="M69.558 39.4388C66.4519 41.6858 50.178 51.6869 40.7914 55.1596C35.7072
    51.4333 33.56 48.2838 31.4734 43.3116L39.9629 39.0219L43.2761
    45.9672L69.7793 35.4618L71.7973 32.5894C71.7973 32.5894 72.4576 31.8048
    72.6931 32.0371C72.8052 32.1477 72.2306 33.2959 72.0212 33.9152C71.9094
    34.2466 74.9327 30.5093 74.9327 30.5093L75.3805 30.2697C76.0431 30.2697
    74.5462 32.0692 73.9249 33.3629L76.6402 31.3784C76.8219 31.2459 77.0712
    31.2503 77.2477 31.3895C77.3866 31.4995 77.3982 31.7038 77.2722
    31.828L74.2608 34.7989L77.6056 32.999C77.7973 32.8961 78.0369 32.9701
    78.1345 33.1627C78.2237 33.3384 78.1622 33.5523 77.9925 33.6559L74.4847
    35.7933L77.0329 35.0198C77.2136 34.9648 77.3962 35.098 77.3962
    35.2842C77.3962 35.3925 77.3324 35.4907 77.2329 35.5359L71.7973
    38.0025L69.558 39.4388Z"
    fill="#C44949" />
  <path
    d="M43.2754 48.3645C40.9978 47.9559 37.4778 40.2475 37.4778 40.2475L39.9625
    39.0219L43.2754 45.9672L60.8751 39.4305C60.047 40.5745 45.553 48.7732
    43.2754 48.3645Z"
    fill="black"
    fill-opacity="0.08" />
  <path
    d="M40.5984 38.4842L31.0665 43.41C24.9378 28.7023 26.6855 20.817 28.48
    20.068C34.2776 17.29 39.011 32.0155 40.5984 38.4842Z"
    fill="white"
    fill-opacity="0.1" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M33.4234 6.97175C37.4288 8.09191 42.0163 9.37479 42.4309 9.37479L46.043
    10.2655C46.043 10.2655 46.1905 9.91882 46.043 9.8327C45.2593 9.37478 42.5716
    8.17549 42.5716 8.17549C44.3938 0.239311 32.9573 -4.26964 29.2466
    5.8109C30.3537 6.11343 31.8431 6.53004 33.4234 6.97175ZM24.8469
    40.9095L23.8116 30.6958H24.8469L26.0893 21.9121C26.0893 21.9121 27.9327
    19.66 29.5822 19.5538C30.7747 19.4773 31.5529 19.7553 32.4938
    20.4821C32.9908 20.8659 33.2746 21.3003 33.5867 21.7783C33.7001 21.9518
    33.817 22.131 33.9494 22.3156C34.4606 23.0287 35.069 24.0831 35.069
    24.0831L35.2929 23.8623C35.2929 23.8623 34.093 21.5752 33.2775
    20.769C33.1493 20.6422 33.0336 20.5221 32.9241 20.408C32.4906 19.9565
    32.1514 19.6034 31.4859 19.333C30.7908 19.0508 30.3337 19.0365 29.5822
    19.0521C28.7596 19.0689 28.3988 19.2828 27.7494 19.667C27.6911 19.7016
    27.6302 19.7375 27.5668 19.775C26.6971 20.285 25.7146 21.5425 25.7146
    21.5425L24.6398 20.4821L24.8469 18.8392C24.8469 18.8392 26.0893 15.9881
    23.1903 14.5581C19.3958 12.686 14.0797 10.4727 11.8021 11.9027C9.59533
    13.2879 11.8021 18.8392 11.8021 18.8392L10.7668 19.0521C10.7668 19.0521
    7.6311 20.3753 6.83292 22.7291C5.67042 26.1569 9.73158 32.1254 9.73158
    32.1254C9.73158 32.1254 8.41898 34.1634 7.86817 35.5981C7.38952 36.8441
    7.27324 37.8083 7.14504 38.8696C7.06999 39.4909 6.99075 40.1455 6.83292
    40.9095C6.39291 43.0363 5.82149 44.7685 5.27648 46.4204C4.42257 49.0093
    3.63404 51.3999 3.52002 54.7998L0 57.0472V64.4009L5.38342 67.4649C7.06451
    69.1923 8.46858 69.7595 10.7668 70.5289C15.1375 71.9919 18.5548 71.5728
    21.9482 68.4862C24.9918 65.718 24.8469 59.7025 24.8469
    59.7025V44.1889L30.1421 41.2063L29.5822 39.549L24.8469 42.3109V40.9095Z"
    fill="#E46382" />
  <path
    d="M18.4286 32.6895L23.7659 30.7075L24.8067 40.8332V61.5618C24.8067 64.3398
    22.7078 67.6203 21.7415 68.6416L18.4286 69.2546L15.7367 64.3519L19.4638
    49.8485L18.4286 32.6895Z"
    fill="#644DF1"
    fill-opacity="0.16" />
  <path
    d="M19.0489 25.3359L18.4279 32.6896L23.8113 30.6469H24.8465L26.0889
    21.8632L23.1902 19.0032L19.4631 18.5948L19.0489 25.3359Z"
    fill="black"
    fill-opacity="0.1" />
  <path
    d="M21.3272 16.3474L19.4757 18.5989L23.1909 19.0031L24.6391 20.4735L24.7924
    18.8709C24.7924 18.8709 24.2581 18.0984 23.9189 17.6011C22.1872 15.0608
    21.3272 16.3474 21.3272 16.3474Z"
    fill="black"
    fill-opacity="0.13" />
  <path
    d="M34.7859 142.126H54.8388L54.556 142.943H34.7859V142.126Z"
    fill="black" />
  <path
    d="M24.9523 141.913L34.7415 141.981L34.8204 142.603L25.0318 142.662L24.9523
    141.913Z"
    fill="black" />
</svg>
