<style>
  svg {
    position: sticky;
    top: 4rem;
    height: 400px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 930px) {
    svg {
      height: 0px;
      width: 0px;
      display: hidden;
    }
  }
</style>

<svg viewBox="0 0 130 238" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M29.2442 45.0393C29.3031 45.492 29.5095 46.1201 30.0865 46.7818C30.3729
    45.1109 30.7224 44.0305 30.7646 43.9048C30.7688 43.8965 30.7688 43.8918
    30.7688 43.8918C30.7646 43.8939 30.7612 43.8952 30.7583
    43.896V43.8965C30.7549 43.8973 30.7519 43.8985 30.7477 43.9006C30.6993
    43.9216 30.6517 43.9425 30.6045 43.9635C30.5569 43.9844 30.5098 44.0053
    30.4613 44.0263C30.3455 44.0774 30.2305 44.128 30.1156 44.1787L30.1143
    44.1791H30.1139C29.8148 44.311 29.5179 44.4417 29.2231 44.5749C29.2147
    44.6921 29.2147 44.8508 29.2442 45.0393ZM1.48126 65.3583C3.39754 60.9152
    10.2456 53.348 27.669 45.2826C27.7111 45.5673 27.7827 45.8898 27.9049
    46.229C28.1955 47.0037 28.7556 47.8831 29.8212 48.7039C29.3537 53.4318
    29.9012 60.6765 36.1091 65.8566C37.9706 67.4061 38.9435 76.3258 39.3731
    88.4031C37.402 86.5019 37.3431 87.197 39.3983 89.1485C42.3802 91.9878
    44.1238 93.1938 44.9282 93.6712C45.0293 93.734 45.1135 93.7801 45.1851
    93.8178L45.1885 93.8194C45.191 93.8211 45.1935 93.8224 45.1956
    93.8241C45.1986 93.8261 45.202 93.8282 45.2062 93.8303C45.223 93.8387
    45.2441 93.8471 45.2651 93.8513L45.274 93.8529C45.2912 93.8567 45.306
    93.8596 45.3241 93.8596H45.3283H45.3325C46.0906 93.8513 48.4786 93.6335
    53.3935 91.6653C53.442 91.646 53.4912 91.6264 53.5401 91.6063C53.5856
    91.5883 53.6311 91.5698 53.677 91.551L53.7347 91.5275H53.7355C53.8143
    91.4953 53.8943 91.463 53.9747 91.4308C54.1432 91.3596 54.3159 91.2884
    54.4885 91.2172C55.8952 90.6226 55.7183 90.1201 54.417 90.6728C54.1685
    89.0187 53.642 87.1301 53.0524 85.0195C53.0389 84.9721 53.0259 84.9252
    53.0128 84.8783L52.9888 84.7946L52.9665 84.7159C52.9614 84.6974 52.9564
    84.679 52.9509 84.6606C52.9425 84.6308 52.9345 84.6011 52.926
    84.5714C52.8835 84.4215 52.8427 84.2703 52.8014 84.1187C52.769 83.9989
    52.7361 83.8787 52.7028 83.759C52.4586 82.8712 52.2101 81.9541 51.9742
    80.9951C51.4057 78.6919 51.4688 76.954 51.9868 75.5762C52.9707 72.9543
    55.5886 71.6059 58.6239 70.0426L58.637 70.0359C58.7149 69.9945 58.7941
    69.9534 58.8733 69.9124H58.8737C58.9781 69.8584 59.0834 69.8039 59.1887
    69.747C59.5256 69.5753 59.8668 69.3952 60.2079 69.2152C61.1092 68.7336
    61.6778 67.9756 61.901 66.9622C61.9389 66.7989 61.9641 66.6272 61.9852
    66.4555C71.5666 73.5243 80.769 79.0813 84.0456 79.5713C84.5341 79.5252
    88.4594 78.9683 98.045 72.3182C103.859 68.2872 108.613 64.1744 108.905
    63.9224L108.915 63.9136L108.919 63.9094L110.532 65.7352L110.89
    66.1372L115.548 71.4095L120.965 77.5361L121.323 77.9381L122.177
    78.9054C121.937 79.1148 116.189 84.1275 109.008 89.0564C98.643 96.1712
    90.6241 99.5423 83.9866 99.5423C83.3802 99.5423 82.7863 99.513 82.2051
    99.4586C81.8893 99.4293 81.5565 99.3874 81.1985 99.3371C78.7558 100.857
    74.1188 103.638 68.7996 106.31C68.7322 106.18 68.5722 106.125 68.4458
    106.192C65.1945 107.813 62.1705 109.153 59.3614 110.217C57.8999 110.769
    56.4933 111.247 55.1456 111.649C51.1403 112.851 47.6236 113.391 44.5323
    113.29H44.5112C44.4839 113.288 44.4573 113.287 44.4312 113.286C44.4047
    113.285 44.3786 113.284 44.3512 113.282C43.0498 113.228 41.8032 113.06
    40.6324 112.784C40.4892 112.75 40.346 112.834 40.3123 112.976C40.0933
    112.922 39.8701 112.859 39.6384 112.792C39.6342 114.045 39.622 115.298
    39.6094 116.559L39.6089 116.607L39.5837 119.023L39.5824 119.095C39.5576
    120.826 39.5327 122.561 39.5036 124.283C39.4194 129.363 39.3015 134.375
    39.1751 139.145C38.6698 157.839 37.9538 172.751 37.9538 172.751L34.4961
    172.718L28.166 172.659L16.2893 172.542L2.96376 172.416C2.96376 172.416
    -2.56609 74.7513 1.48126 65.3583ZM72.6069 82.4566L72.7459 82.6744L81.7755
    96.2969L81.923 96.523L82.0704 96.745C85.6376 95.3463 91.4707 92.7415 92.6626
    89.8269C92.8142 89.4584 92.7552 89.048 92.5109 88.7214C92.2667 88.4031
    91.8918 88.2314 91.5001 88.2775C91.0579 88.3235 90.5525 88.4869 90.064
    88.6962C91.6434 87.2515 93.5975 85.2247 93.7028 83.9474C93.7281 83.6208
    93.6439 83.3444 93.4459 83.1266C92.5867 82.1802 90.3672 83.2983 88.4215
    84.6007C90.0724 82.7874 91.6307 80.6601 90.8305 79.7472C89.6007 78.3527
    81.1101 82.7916 78.1662 84.3913C78.6337 83.2062 79.4213 80.9155 78.9411
    80.0822C78.8316 79.8896 78.621 79.789 78.3094 79.7765H78.2589C77.1386
    79.7765 74.5821 80.9072 72.4553 82.2346L72.6069 82.4566ZM44.2375
    119.024C44.267 117.286 44.3049 115.544 44.3428 113.806L44.3537
    113.807C44.4043 113.811 44.4519 113.815 44.5028
    113.815H44.5112H44.5323C44.7766 113.823 45.0208 113.827 45.2693
    113.827C48.1964 113.827 51.4899 113.283 55.1919 112.186C56.527 111.788
    57.921 111.319 59.3656 110.779L59.6309 172.417L46.3686 172.698L43.8248
    172.752C43.8248 172.752 43.7363 149.665 44.1448 124.389C44.1697 122.637
    44.2025 120.877 44.2358 119.108L44.2375 119.024ZM42.7003 47.113C42.6455
    47.2135 42.5192 47.4187 42.3086 47.67C41.5379 47.0628 40.7882 46.5184
    40.1185 46.0493V45.5887V45.5426C41.0619 45.9949 41.9632 46.4514 42.8182
    46.912C42.7845 46.9539 42.755 47.0041 42.7297 47.0544C42.7285 47.0565
    42.7268 47.0594 42.7251 47.0632C42.7188 47.0741 42.7095 47.0912 42.7003
    47.113ZM59.7952 68.8379C59.8495 68.809 59.9042 68.7801 59.9594
    68.7507C60.7259 68.3404 61.1934 67.7164 61.3872 66.8495C61.4419 66.6067
    61.4714 66.3512 61.4798 66.0832C60.7091 65.5095 59.9342 64.9274 59.1592
    64.3327C58.3338 60.2246 55.1076 53.8719 44.1869 47.6658C44.1827 47.6763
    44.1785 47.6859 44.1743 47.6951C44.1701 47.7047 44.1659 47.7139 44.1617
    47.7244C44.1604 47.7257 44.1566 47.7332 44.1499 47.7462C44.1339 47.7772
    44.1023 47.8387 44.0522 47.9212C43.9511 48.0887 43.7784 48.3526 43.5173
    48.6583C47.312 51.9121 50.9676 56.4515 48.2764 60.4633C47.6194 61.4432
    47.0593 64.2071 46.5833 68.2566C46.2296 71.2508 45.9179 74.9527 45.6526
    79.1571C45.3788 83.3616 45.1514 88.0643 44.9535 93.0728C45.1346 93.1858
    45.282 93.2738 45.3957 93.3324C46.2043 93.3115 48.567 93.0519 53.3472
    91.1171C53.5325 91.046 53.722 90.9664 53.9116 90.8868C53.7305 89.6221
    53.3809 88.2067 52.9555 86.6489C52.825 86.1673 52.686 85.669 52.5428
    85.1581C52.4729 84.9127 52.4051 84.6669 52.3368 84.4185C52.3061 84.3067
    52.2749 84.1949 52.2437 84.0818C51.9826 83.1354 51.7173 82.1555 51.4604
    81.1211C50.736 78.1856 51.0013 76.1127 51.8942 74.5214C53.1535 72.2642
    55.6636 70.9702 58.3927 69.5673C58.4462 69.5401 58.4997 69.5125 58.5536
    69.4848C58.7625 69.3781 58.9735 69.27 59.1845 69.1569C59.3871 69.0544
    59.5901 68.9467 59.7952 68.8379Z"
    fill="#54ACD2" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M49.7967 17.548C51.1529 17.2507 52.4416 16.6812 53.5072 15.6929C55.6913
    13.6761 56.0042 10.8024 56.1306 9.64041L56.131 9.63744L56.1331
    9.61772C56.3357 7.76203 56.6465 4.90909 54.7117 3.59881C52.8797 2.35926
    50.0073 3.01672 48.8449 4.50753C48.1745 5.36329 48.113 6.44174 48.0751
    7.10808C48.054 7.47538 48.0401 7.71743 47.9352 7.72786C47.7916 7.74084
    47.7192 7.3031 47.6088 6.63517V6.63508C47.3629 5.14846 46.9287 2.52161
    45.1008 1.18671C43.4414 -0.0277213 40.6828 -0.140788 39.5331 1.0862C38.2056
    2.50536 39.1806 5.56903 39.75 7.35914C39.9989 8.14156 40.1703 8.68068
    40.0385 8.7329C39.9075 8.78428 39.6809 8.26238 39.3284 7.45135C38.3888
    5.28816 36.5551 1.06798 33.262 0.181662C30.4065 -0.588871 26.755 1.23277
    26.5824 2.99578C26.5108 3.74956 27.0667 4.54522 27.9006 5.28644C27.0288
    5.11475 26.1317 5.09381 25.2641 5.31157C23.5963 5.73452 22.0718 7.04945
    21.52 8.7329C20.644 11.4256 22.2697 14.4994 24.3544 15.3746C24.3923 15.3914
    24.426 15.404 24.4639 15.4165C23.3689 16.9073 24.4597 19.9308 25.1504
    20.7181C25.2557 20.8354 25.3526 20.9066 25.4284 20.9108C25.5674 20.9233
    25.6895 21.0573 25.7948 21.2709C26.2497 22.1796 26.435 24.4954 26.435
    24.4954C26.435 24.4954 27.6142 25.5633 28.5197 25.8103C29.1515 25.982
    29.6484 25.7559 29.5305 24.4954C29.2862 21.9032 32.6345 16.8529 33.6832
    15.3411C34.3781 15.4458 35.0603 15.5673 35.7637 15.6929C37.5422 16.0103
    38.414 16.293 39.242 16.5614C39.8982 16.7742 40.5274 16.9781 41.5588
    17.1837L41.5673 17.1854C43.46 17.5627 46.7859 18.2252 49.7967
    17.548ZM39.5415 25.4075C39.2888 25.4075 39.0866 25.6085 39.0866
    25.8598C39.0866 26.1068 39.2888 26.312 39.5415 26.312C39.7942 26.312 39.9964
    26.1068 39.9964 25.8598C39.9964 25.6085 39.7942 25.4075 39.5415
    25.4075ZM50.5843 26.7651C50.837 26.7651 51.0392 26.5641 51.0392
    26.3129C51.0392 26.0616 50.837 25.8606 50.5843 25.8606C50.3358 25.8606
    50.1295 26.0616 50.1295 26.3129C50.1295 26.5641 50.3358 26.7651 50.5843
    26.7651ZM2.38669 70.4179C2.97631 67.7378 4.57673 65.4513 6.89733
    63.9773C8.27873 63.102 9.79069 62.5911 11.3153 62.4278C15.0763 62.0216
    18.9257 63.6925 21.1031 67.0636C21.1048 67.0669 21.106 67.0694 21.1077
    67.0715L21.1094 67.074C21.1115 67.0774 21.1136 67.0803 21.1157
    67.0845L21.1263 67.1C21.3335 67.407 23.9249 71.245 30.2254 78.5546C30.4065
    77.8804 30.5876 77.1936 30.7645 76.4775C32.4112 69.7981 28.7472 67.9095
    24.1018 65.5183C23.5837 65.2545 23.0573 64.9823 22.5308 64.6975C21.6295
    64.216 21.0568 63.458 20.8335 62.4446C19.8607 58.0224 25.8369 50.0616
    26.0896 49.7266C26.1781 49.6093 26.3423 49.5884 26.4602 49.6763C26.5782
    49.7601 26.5992 49.9276 26.5108 50.0449L26.5074 50.0495C26.3352 50.2802
    20.4385 58.1849 21.3516 62.3357C21.5411 63.2025 22.0086 63.8223 22.7793
    64.2369C23.3058 64.5175 23.8322 64.7897 24.346 65.0535L24.3515
    65.0564C29.0074 67.4547 33.0253 69.5247 31.2783 76.6031C31.0677 77.4448
    30.8529 78.2531 30.6424 79.0403C30.8605 79.2895 31.0812 79.5433 31.3061
    79.8012C31.4594 79.9767 31.614 80.1547 31.7711 80.3343C31.7837 80.3469
    31.7921 80.3594 31.8006 80.372C34.9087 83.9064 37.402 86.5028 39.373
    88.404C42.2748 91.2014 44.0479 92.4995 44.9534 93.0732C45.1345 93.1863
    45.2819 93.2743 45.3956 93.3329C46.2043 93.3119 48.567 93.0523 53.3471
    91.1176C53.5324 91.0464 53.722 90.9668 53.9115 90.8873C53.7304 89.6226
    53.3808 88.2072 52.9554 86.6494C52.8249 86.1678 52.6859 85.6694 52.5427
    85.1585C52.4728 84.9131 52.4054 84.6673 52.3368 84.419C52.306 84.3072
    52.2749 84.1954 52.2437 84.0823C51.9826 83.1359 51.7172 82.156 51.4603
    81.1216C50.7359 78.186 51.0013 76.1131 51.8941 74.5218C53.1534 72.2647
    55.6635 70.9707 58.3926 69.5678C58.4461 69.5406 58.5 69.5129 58.554
    69.4853H58.5544C58.7628 69.3785 58.9739 69.2705 59.1844 69.1574C59.3874
    69.0552 59.59 68.9472 59.7951 68.8387L59.8023 68.8345C59.8545 68.8069
    59.9067 68.7793 59.9594 68.7512C60.7259 68.3408 61.1934 67.7169 61.3871
    66.85C61.4418 66.6071 61.4713 66.3517 61.4798 66.0837C61.6272 61.7536
    56.2826 54.6345 56.2237 54.5592C56.1352 54.4419 56.1605 54.2786 56.2784
    54.1907C56.3921 54.1027 56.5606 54.1278 56.6448 54.2409C56.8933 54.5675
    62.4442 61.9546 61.9851 66.4564C61.9641 66.6281 61.9388 66.7998 61.9009
    66.9631C61.6777 67.9765 61.1091 68.7345 60.2078 69.216C59.8667 69.3961
    59.5256 69.5762 59.1886 69.7479C59.0834 69.8052 58.978 69.8597 58.8736
    69.9137C58.794 69.9548 58.7153 69.9954 58.6369 70.0368L58.6243
    70.0435C55.589 71.6068 52.971 72.9552 51.9868 75.5771C51.4688 76.9549
    51.4056 78.6928 51.9742 80.996C52.21 81.955 52.4585 82.8721 52.7028
    83.7599C52.7183 83.8156 52.7335 83.8712 52.7491 83.9269C52.7659 83.9885
    52.7824 84.0501 52.7992 84.1112L52.8005 84.1166L52.8013 84.1196C52.8426
    84.2716 52.8838 84.4228 52.926 84.5723C52.9681 84.723 53.0102 84.8696
    53.0523 85.0203C53.642 87.1309 54.1684 89.0196 54.4169 90.6737C55.7183
    90.1209 57.1839 89.4551 58.818 88.6511C58.9654 88.5799 59.1171 88.5045
    59.2687 88.4291C59.3727 88.3776 59.4775 88.3248 59.5833 88.2717L59.5845
    88.2712L59.5875 88.27L59.5883 88.2696C59.6953 88.2155 59.8035 88.1611 59.913
    88.1067C60.0436 88.0397 60.2036 88.0941 60.2668 88.2197C60.3342 88.3495
    60.2837 88.5087 60.1531 88.5757C59.8751 88.7181 59.5972 88.8563 59.3276
    88.9903C59.3108 88.9986 59.2897 89.007 59.2729 89.0196C57.4829 89.899
    55.8952 90.6235 54.4885 91.2181C54.3158 91.2893 54.1431 91.3605 53.9747
    91.4317C53.9338 91.4484 53.893 91.4648 53.8525 91.4811L53.7346
    91.5288C53.6196 91.5757 53.5059 91.6218 53.3935 91.6662C48.4785 93.6344
    46.0905 93.8522 45.3325 93.8605H45.3282H45.324C45.3063 93.8605 45.2912
    93.8576 45.2743 93.8542L45.2651 93.8522C45.244 93.848 45.223 93.8396 45.2061
    93.8312C45.2019 93.8291 45.1989 93.827 45.1956 93.8254L45.1952
    93.8249C45.1922 93.8228 45.1893 93.8207 45.1851 93.8187C45.1135 93.781
    45.0292 93.7349 44.9281 93.6721C44.1237 93.1947 42.3801 91.9886 39.3983
    89.1494C37.343 87.1979 34.7023 84.4718 31.371 80.6777C31.3583 80.6652
    31.3499 80.6526 31.3415 80.64C31.0425 80.3008 30.7519 79.97 30.4739
    79.6476C30.4503 79.6203 30.4267 79.5935 30.4031 79.5667C30.3758 79.5349
    30.3484 79.5035 30.3214 79.4721L30.3168 79.4671L30.316 79.4658L30.3134
    79.4633C30.2275 79.364 30.1433 79.2665 30.0569 79.1702C23.55 71.6365 20.8799
    67.675 20.6861 67.386C20.6819 67.3818 20.6777 67.3777 20.6735
    67.3693V67.3689V67.368C20.6731 67.3676 20.6731 67.3672 20.6727
    67.3668C20.6722 67.3659 20.671 67.3651 20.6693 67.3651C18.5298 64.0359
    14.6677 62.4446 10.9615 63.0057C9.65173 63.2025 8.36717 63.6674 7.1795
    64.4212C4.98104 65.8157 3.46066 67.9849 2.90051 70.5268C2.34037 73.0687
    2.80786 75.6734 4.21453 77.8636C4.43775 78.2154 5.89496 80.439 9.23898
    84.6434C11.0879 86.9718 13.518 89.9032 16.6388 93.4585C16.7314 93.5674
    16.723 93.7349 16.6135 93.827H16.6093C16.5587 93.8731 16.4998 93.894 16.4366
    93.894C16.365 93.894 16.2934 93.8605 16.2387 93.8019C13.3284 90.4853 11.0205
    87.7088 9.21371 85.4559C5.57488 80.9164 4.00395 78.5127 3.7681
    78.1442C2.28562 75.8368 1.79706 73.0938 2.38669 70.4179ZM18.0876
    221.186L28.1659 219.251V172.659L16.2892 172.542V221.534L18.0876
    221.186ZM18.8292 229.155L18.8339 229.157L18.8406 229.159L18.8482
    229.162L18.8536 229.164C18.9054 229.182 18.9577 229.2 19.0103
    229.218C19.0356 229.227 19.0604 229.235 19.0857 229.244C19.2066 229.285
    19.3443 229.443 19.5182 229.643C20.1917 230.415 21.4076 231.809 24.287
    229.482C24.4488 229.35 24.4408 228.961 24.4324 228.55C24.4235 228.104
    24.4138 227.631 24.6198 227.43C24.6198 227.43 24.6564 227.446 24.7276
    227.475C24.7668 227.491 24.8169 227.511 24.8767 227.535C25.9885 227.975
    30.5834 229.784 35.4562 231.4C38.2612 232.33 41.1545 233.197 43.5341
    233.699C44.9787 234.009 44.9829 236.287 44.8986 237.397C44.8692 237.761
    44.8313 238 44.8313 238L17.8138 237.095C17.3716 237.083 17.0094 236.752
    16.9589 236.317C16.782 234.759 16.5208 230.542 17.7338 229.093C17.9149
    228.875 18.2771 228.963 18.673 229.101C18.7248 229.119 18.7766 229.137
    18.8292 229.155ZM40.1185 44.0309C38.9813 44.8015 33.1356 40.3123 32.5544
    39.86C33.78 40.35 35.1151 40.618 36.5133 40.618H40.1185V44.0309ZM34.496
    172.719V221.652L36.7366 221.22L46.3685 219.369V172.698L43.8247
    172.752C43.8247 172.752 43.7362 149.666 44.1448 124.389L41.5925
    124.33L39.5036 124.284C39.4193 129.364 39.3014 134.376 39.1751
    139.146C38.6697 157.84 37.9537 172.752 37.9537 172.752L34.496
    172.719ZM38.5602 22.3802C41.0155 22.2504 42.0221 22.7362 42.199
    22.8367C42.5781 23.0502 42.7255 23.536 42.5065 23.9171C42.2917 24.294 41.82
    24.4322 41.4367 24.2186C41.4283 24.2144 40.6576 23.8459 38.6486
    23.9548C37.2171 24.0343 36.6443 24.6034 36.6018 24.6457C36.446 24.8216
    36.227 24.9138 36.0079 24.9138C35.8268 24.9138 35.6458 24.8551 35.4941
    24.7295C35.1614 24.4489 35.1193 23.9506 35.4015 23.6198C35.4983 23.5025
    36.4081 22.4975 38.5602 22.3802ZM44.1498 47.7458C44.1566 47.7328 44.1603
    47.7253 44.1616 47.724L44.1642 47.7178L44.1671 47.7111L44.1709
    47.7023L44.1743 47.6943C44.1785 47.6851 44.1827 47.6759 44.1869
    47.6654C44.3301 47.2843 44.1574 46.853 43.7784 46.6771C43.433 46.518 43.0371
    46.6227 42.8181 46.9116C42.7844 46.9535 42.755 47.0038 42.7297
    47.054C42.7288 47.0561 42.7272 47.059 42.7251 47.0628C42.7192 47.0733
    42.7099 47.0904 42.7002 47.1126C42.6454 47.2131 42.5191 47.4183 42.3085
    47.6696C41.9 48.1596 41.1672 48.8254 39.9753 49.2316C38.7371 49.6587 37.0019
    49.8053 34.6308 49.1772C33.4389 48.8589 32.5039 48.4862 31.7753
    48.0842C31.0046 47.6654 30.4655 47.2173 30.0864 46.7818C29.5094 46.1202
    29.3031 45.492 29.2441 45.0397C29.2146 44.8513 29.2146 44.6922 29.2231
    44.5749C29.2273 44.4493 29.2433 44.3705 29.2479 44.3467L29.2483
    44.3446C29.341 43.9258 29.0799 43.5029 28.6587 43.4024C28.2375 43.3019
    27.8122 43.5531 27.7069 43.9677C27.69 44.0305 27.5679 44.5456 27.669
    45.2826C27.7111 45.5674 27.7827 45.8898 27.9048 46.229C28.1954 47.0038
    28.7556 47.8832 29.8211 48.704C30.5581 49.2735 31.5395 49.8137 32.8408
    50.2701C33.2662 50.4251 33.7253 50.5675 34.2222 50.6973C35.4857 51.0323
    36.6018 51.1705 37.5873 51.1705C40.8218 51.1705 42.6454 49.6797 43.5173
    48.6579C43.7784 48.3522 43.9511 48.0884 44.0521 47.9209C44.1027 47.8384
    44.1343 47.7768 44.1498 47.7458ZM44.2602 35.8411L44.2501 35.8402C43.2393
    35.7732 42.3212 35.1032 41.9168 34.1359C41.8579 34.0019 41.921 33.8469
    42.0558 33.7925C42.1906 33.738 42.3464 33.8008 42.4012 33.9349C42.7339
    34.7179 43.4709 35.2623 44.2838 35.3168C45.2651 35.388 45.9221 34.7263
    46.0442 34.5923C46.1453 34.4876 46.3096 34.4792 46.4191 34.5798C46.5286
    34.6761 46.5328 34.8436 46.4359 34.9483C46.2927 35.1032 45.5473 35.8486
    44.4228 35.8486C44.3672 35.8486 44.3154 35.8449 44.2606
    35.8411H44.2602ZM44.1953 31.6099C44.4101 31.7187 45.2272 32.0998 45.9895
    32.0998C46.3517 32.0998 46.7012 32.0161 46.9708 31.7732C47.5225 31.279
    47.4172 30.4038 47.3582 29.9348C47.1434 28.1257 46.5917 26.1072 45.7241
    23.9338C45.6694 23.7998 45.5178 23.7328 45.383 23.7873C45.244 23.8417
    45.1808 23.9925 45.2314 24.1265C46.0863 26.258 46.6254 28.2346 46.836
    29.9976C46.9034 30.5546 46.9202 31.1073 46.617 31.3837C46.1369 31.815
    45.0208 31.434 44.4354 31.1408C44.3048 31.078 44.1448 31.1283 44.0774
    31.2581C44.0142 31.3879 44.0648 31.547 44.1953 31.6099ZM50.0831
    23.9338C48.7291 23.9376 48.1403 24.1826 48.0797 24.2081H48.0793C48.0763
    24.2094 48.0746 24.2102 48.0742 24.2102C47.6952 24.4238 47.2108 24.2898
    46.996 23.9087C46.7812 23.5318 46.9118 23.0502 47.295 22.8367C47.4509
    22.7487 48.2427 22.3593 50.0831 22.3551C50.3443 22.3551 50.6264 22.3635
    50.9339 22.3802C53.086 22.4975 53.9957 23.5025 54.0926 23.6198C54.3706
    23.9464 54.3285 24.4238 54.0042 24.7086C53.8568 24.8384 53.6714 24.9054
    53.4861 24.9054C53.2671 24.9054 53.0523 24.8174 52.8923 24.6499C52.8712
    24.6248 52.3027 24.0343 50.8455 23.9548C50.5885 23.9422 50.3485 23.9338
    50.1295 23.9338H50.0831ZM44.5112 113.814H44.5322C44.7765 113.823 45.0208
    113.827 45.2693 113.827C48.1963 113.827 51.4898 113.283 55.1918
    112.185C56.5269 111.788 57.9209 111.319 59.3655 110.778C62.2463 109.698
    65.346 108.329 68.6816 106.662C68.8122 106.595 68.8627 106.44 68.7995
    106.31C68.7321 106.18 68.5721 106.126 68.4458 106.193C65.1944 107.813
    62.1705 109.154 59.3613 110.217C57.8999 110.77 56.4932 111.247 55.1455
    111.649C51.1403 112.851 47.6236 113.391 44.5322 113.291H44.5112C44.4838
    113.289 44.4577 113.288 44.4312 113.287C44.4189 113.286 44.4072 113.286
    44.3949 113.285C44.3806 113.285 44.3659 113.284 44.3511 113.283C43.0498
    113.228 41.8031 113.061 40.6323 112.784C40.4891 112.751 40.3459 112.834
    40.3122 112.977C40.2785 113.119 40.367 113.262 40.5102 113.295C41.7189
    113.58 43.0077 113.756 44.3427 113.806C44.3975 113.81 44.448 113.814 44.5028
    113.814H44.5112ZM78.2588 79.7774H78.3093C78.621 79.7899 78.8316 79.8904
    78.9411 80.0831C79.4212 80.9164 78.6336 83.2071 78.1661 84.3922C81.1101
    82.7925 89.6006 78.3536 90.8304 79.7481C91.6306 80.661 90.0723 82.7883
    88.4214 84.6016C90.3672 83.2992 92.5867 82.1811 93.4458 83.1275C93.6438
    83.3453 93.728 83.6217 93.7028 83.9483C93.5975 85.2255 91.6433 87.2524
    90.0639 88.6971C90.5525 88.4877 91.0579 88.3244 91.5001 88.2784C91.8918
    88.2323 92.2666 88.404 92.5109 88.7222C92.7552 89.0489 92.8141 89.4593
    92.6625 89.8278C91.4706 92.7424 85.6375 95.3472 82.0703 96.7458L81.9229
    96.5239L81.7755 96.2978C85.2669 94.9368 91.0452 92.3865 92.1739
    89.631C92.2539 89.4342 92.2203 89.2164 92.0897 89.0405C91.9718 88.8856
    91.7991 88.7976 91.6138 88.7976H91.5548C90.2029 88.94 88.0887 90.3931
    88.0676 90.4099L87.9076 90.1963L87.7517 89.9869C89.2174 88.8269 93.0457
    85.4684 93.1763 83.9064C93.1932 83.7263 93.151 83.5882 93.0542
    83.4835C92.1613 82.4952 87.9918 85.3763 85.5743 87.4241L85.3975
    87.2273L85.2248 87.0304C87.8402 84.6644 91.1884 80.9541 90.4303
    80.0956C89.727 79.2958 83.4391 82.068 77.766 85.213L77.0838 85.5899L77.3954
    84.878C78.0145 83.4667 78.8526 80.9876 78.482 80.3427C78.4694 80.326 78.3725
    80.2883 78.1282 80.3092C77.0206 80.4013 74.6916 81.4608 72.7458
    82.6752L72.6068 82.4575L72.4552 82.2355C74.5821 80.908 77.1385 79.7774
    78.2588 79.7774ZM115.7 67.4476C116.054 65.9651 116.605 63.1343 115.763
    62.6192C114.137 61.6309 112.204 63.5865 110.532 65.7348L110.89
    66.1368C112.411 64.1728 114.205 62.2884 115.489 63.0673C115.915 63.3269
    115.599 65.7767 115.039 67.904C115.013 68.0045 115.051 68.1134 115.136
    68.1762C115.216 68.2432 115.334 68.2516 115.426 68.2014C120.855 65.2072
    127.021 62.4433 127.518 63.1971C128.01 63.9467 125.058 66.5975 122.043
    68.6243C121.925 68.7081 121.891 68.8672 121.971 68.9887C122.051 69.1059
    122.211 69.1436 122.333 69.064C124.898 67.456 128.785 65.605 129.405
    66.5221C129.447 66.5849 129.497 66.6896 129.451 66.8906C129.143 68.2432
    125.336 70.7182 123.9 71.5557C123.774 71.6311 123.732 71.7902 123.803
    71.9158C123.875 72.0415 124.039 72.0833 124.165 72.0122C125.256 71.3882
    128.301 69.8429 129.27 70.178C129.367 70.2073 129.413 70.2575 129.438
    70.2994C129.455 71.2458 128.242 73.3522 120.964 77.5357L121.322
    77.9377C127.177 74.5625 130.078 71.9703 129.965 70.2198V70.2194C129.96
    70.1905 129.956 70.1612 129.944 70.1361C129.855 69.9183 129.683 69.7634
    129.442 69.6796C128.933 69.5037 128.091 69.688 127.21 70.0021C128.507
    69.0305 129.763 67.8957 129.969 67.0079C130.036 66.7106 129.994 66.4509
    129.843 66.229C129.215 65.2993 127.215 65.9316 125.374 66.7943C127.012
    65.4207 128.545 63.8001 127.96 62.9123C127.025 61.4801 118.926 65.6929 115.7
    67.4476Z"
    fill="#0E0F25" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M30.6884 43.8918L30.7474 43.9006C30.6989 43.9216 30.6518 43.9425 30.6042
    43.9635C30.557 43.9844 30.5094 44.0053 30.461 44.0263C30.5789 43.9421
    30.6589 43.8918 30.6884 43.8918ZM45.6522 79.1575C45.9176 74.9531 46.2292
    71.2512 46.583 68.257C47.0589 64.2075 47.6191 61.4437 48.2761
    60.4637C50.9673 56.4519 47.3116 51.9125 43.517 48.6587C42.6452 49.6805
    40.8215 51.1713 37.587 51.1713C36.6015 51.1713 35.4854 51.0331 34.222
    50.6981C33.725 50.5683 33.2659 50.4259 32.8405 50.2709C31.5391 49.8145
    30.5579 49.2743 29.8208 48.7047C29.3533 53.4326 29.9008 60.6773 36.1087
    65.8575C37.9703 67.4069 38.9432 76.3267 39.3727 88.4039C42.2745 91.2013
    44.0476 92.4995 44.9531 93.0732C45.1511 88.0647 45.3785 83.362 45.6522
    79.1575ZM40.5099 113.295C41.7186 113.58 43.0074 113.756 44.3424
    113.806C44.3045 115.544 44.2666 117.286 44.2371 119.024L44.2355
    119.108C44.2026 120.876 44.1693 122.636 44.1445 124.388L41.5923
    124.33L39.5033 124.284C39.5324 122.562 39.5572 120.827 39.5825
    119.097V119.095L39.5833 119.024L39.6086 116.608L39.609
    116.559V116.559C39.6216 115.298 39.6339 114.045 39.6381 112.793C39.8697
    112.86 40.0929 112.922 40.3119 112.977C40.2782 113.119 40.3667 113.262
    40.5099 113.295ZM24.8259 185.251C25.1207 185.201 26.8095 184.891 28.1657
    183.957C29.0122 183.379 29.7324 182.558 29.9008 181.407C30.1156 179.933
    29.3323 178.522 28.1657 177.525C27.5676 177.01 26.8685 176.608 26.1525
    176.361C24.0467 175.632 21.1575 176.038 20.1636 177.96C19.4982 179.25
    19.6161 181.252 20.9722 182.374C21.7345 183.007 22.8211 183.291 23.8824
    183.136C24.729 183.015 25.4323 182.617 25.8114 182.052C26.3294 181.281
    26.3841 179.966 25.6892 179.418C24.9943 178.873 23.5202 179.116 22.3578
    180.46C22.261 180.569 22.2736 180.737 22.3831 180.829C22.4968 180.925
    22.6611 180.913 22.7579 180.804C23.7603 179.648 24.9311 179.493 25.3607
    179.832C25.7861 180.163 25.7903 181.135 25.3734 181.763C25.0786 182.202
    24.5058 182.517 23.8066 182.617C22.8885 182.751 21.9577 182.508 21.3092
    181.972C20.172 181.03 20.0752 179.284 20.6353 178.203C21.5913 176.356
    24.3878 176.306 25.9798 176.855C26.7674 177.127 27.5466 177.621 28.1657
    178.253C29.008 179.108 29.5429 180.213 29.3786 181.331C29.2565 182.177
    28.7763 182.822 28.1657 183.312C26.8853 184.342 25.0364 184.682 24.7416
    184.732C24.3878 184.79 21.2333 185.234 18.9717 182.864C17.2197 181.034
    17.1902 178.752 17.2239 178.094C17.2281 177.952 17.1186 177.826 16.9712
    177.818C16.8238 177.826 16.7017 177.927 16.6932 178.069C16.689 178.145
    16.689 178.237 16.689 178.346C16.689 179.288 16.8912 181.453 18.5885
    183.228C20.3026 185.021 22.4842 185.326 23.773 185.326C24.3146 185.326
    24.6982 185.27 24.8195 185.252L24.8259 185.251ZM18.0873 221.186L16.2889
    221.534L15.2445
    221.735V225.809H16.2889H18.4495H24.9353H28.1657H29.2101L29.0964
    219.071L28.1657 219.251L18.0873 221.186ZM30.7642 43.9052C30.7221 44.0309
    30.3725 45.1113 30.0862 46.7822C30.4652 47.2177 31.0043 47.6658 31.775
    48.0846V44.0644L30.7642 43.9052ZM36.7363 221.22L46.3682 219.369L47.9055
    219.071L48.0192
    225.809H46.3682H43.2853H36.7995H34.4957H34.0577V221.735L34.4957
    221.651L36.7363 221.22ZM37.3828 229.204C37.1798 229.131 36.978 229.059
    36.7995 229.022C36.5594 228.976 36.3614 228.984 36.2393 229.131C35.8224
    229.633 35.5823 230.463 35.456 231.401C38.2609 232.33 41.1543 233.197
    43.5338 233.7C44.9784 234.01 44.9826 236.288 44.8984 237.397L63.3621
    237.963C63.3621 237.963 63.9727 234.068 62.0522 233.666C54.9178 232.171
    43.1211 227.452 43.1211 227.452L43.1169 227.456C42.916 227.657 42.9269
    228.125 42.9366 228.568C42.9463 228.979 42.9551 229.368 42.7926
    229.499C39.9207 231.835 38.701 230.445 38.025 229.675C37.8507 229.476
    37.7121 229.318 37.5912 229.277C37.5226 229.254 37.4531 229.229 37.3836
    229.204L37.3828 229.204ZM39.975 49.2324C40.0677 49.0356 40.1182 48.8178
    40.1182 48.5875V46.0498C40.7879 46.5188 41.5375 47.0632 42.3082
    47.6704C41.8997 48.1604 41.1669 48.8262 39.975 49.2324ZM43.8539
    185.327C44.5151 185.327 45.4164 185.248 46.3682 184.925C47.2653 184.62
    48.2045 184.1 49.0384 183.229C50.9336 181.244 50.9673 178.778 50.9336
    178.07C50.9252 177.924 50.803 177.819 50.6556 177.819C50.5124 177.827
    50.3987 177.953 50.4072 178.095C50.4366 178.753 50.4071 181.035 48.6551
    182.865C47.9434 183.61 47.1389 184.079 46.3682 184.364C44.6836 184.992
    43.1295 184.775 42.8852 184.733C42.4514 184.662 38.6315 183.954 38.2483
    181.332C37.9619 179.389 39.7897 177.496 41.647 176.856C42.9695 176.399 45.13
    176.357 46.3682 177.421C46.6209 177.635 46.8357 177.894 46.9957
    178.204C47.5433 179.268 47.459 180.976 46.3682 181.927C46.3514 181.944
    46.3345 181.96 46.3177 181.973C45.6691 182.509 44.7383 182.752 43.8202
    182.618C43.1211 182.517 42.5525 182.203 42.2535 181.764C41.8365 181.135
    41.8407 180.164 42.2661 179.833C42.6957 179.494 43.8707 179.649 44.8689
    180.805C44.9658 180.914 45.1342 180.926 45.2437 180.83C45.3532 180.738
    45.3659 180.57 45.269 180.461C44.1066 179.117 42.6368 178.874 41.9376
    179.419C41.2427 179.967 41.3017 181.282 41.8155 182.053C42.1945 182.618
    42.8979 183.016 43.7444 183.137C44.6836 183.275 45.6354 183.07 46.3682
    182.584C46.4693 182.522 46.5619 182.45 46.6546 182.375C48.0107 181.253
    48.1287 179.251 47.4632 177.961C47.2063 177.467 46.8273 177.073 46.3682
    176.776C45.0373 175.905 43.041 175.821 41.4743 176.362C39.3727 177.086
    37.3975 179.171 37.726 181.408C38.164 184.398 42.3293 185.172 42.801
    185.252L42.8073 185.253C42.9286 185.271 43.3123 185.327 43.8539 185.327Z"
    fill="#E46382" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M25.4284 20.9103C25.3526 20.9061 25.2557 20.8349 25.1504 20.7177C23.748
    21.0527 22.6993 22.4514 22.6993 24.1264C22.6993 26.0486 24.0849 27.6106
    25.7948 27.6148V29.9599C25.7948 34.1517 28.2333 37.7825 31.7753
    39.5204V44.064V48.0842C32.5039 48.4862 33.4389 48.8589 34.6308
    49.1771C37.0019 49.8053 38.7371 49.6587 39.9753 49.2316C40.0679 49.0348
    40.1185 48.817 40.1185 48.5867V46.0489V45.5883V45.5422V44.0305C38.9813
    44.801 33.1356 40.3118 32.5544 39.8596C33.78 40.3495 35.1151 40.6175 36.5133
    40.6175H40.1185H40.9229C45.981 40.6175 50.0831 36.5387 50.0831
    31.5093V23.9338C48.7291 23.9376 48.1403 24.1826 48.0793 24.2081C48.0759
    24.2094 48.0742 24.2102 48.0742 24.2102C47.6952 24.4238 47.2108 24.2898
    46.996 23.9087C46.7813 23.5318 46.9118 23.0502 47.2951 22.8366C47.4509
    22.7487 48.2427 22.3592 50.0831 22.3551V19.8048C50.0831 19.0259 49.9863
    18.2679 49.7967 17.5476C46.7854 18.2248 43.4595 17.5623 41.5673
    17.185L41.5588 17.1833C40.527 16.9777 39.8982 16.7737 39.2416 16.561C38.4136
    16.2926 37.5418 16.0103 35.7637 15.6925C35.0603 15.5668 34.3781 15.4454
    33.6832 15.3407C32.6345 16.8525 29.2862 21.9028 29.5305 24.495C29.6484
    25.7555 29.1515 25.9816 28.5197 25.8099C27.6142 25.5628 26.435 24.495 26.435
    24.495C26.435 24.495 26.2497 22.1792 25.7948 21.2704C25.6895 21.0569 25.5674
    20.9229 25.4284 20.9103ZM45.7241 23.9338C46.5917 26.1072 47.1434 28.1257
    47.3582 29.9348C47.4172 30.4038 47.5225 31.279 46.9708 31.7731C46.7012
    32.016 46.3517 32.0998 45.9895 32.0998C45.2272 32.0998 44.4101 31.7187
    44.1953 31.6098C44.0648 31.547 44.0142 31.3879 44.0774 31.2581C44.1448
    31.1282 44.3048 31.078 44.4354 31.1408C45.0208 31.4339 46.1369 31.815 46.617
    31.3837C46.9202 31.1073 46.9034 30.5545 46.836 29.9976C46.6254 28.2346
    46.0863 26.258 45.2314 24.1264C45.1808 23.9924 45.244 23.8417 45.383
    23.7872C45.5178 23.7328 45.6694 23.7998 45.7241 23.9338ZM44.2501
    35.8394C43.2393 35.7724 42.3212 35.1024 41.9168 34.135C41.8579 34.001 41.921
    33.846 42.0558 33.7916C42.1906 33.7372 42.3464 33.8 42.4012 33.934C42.7339
    34.7171 43.4709 35.2615 44.2838 35.3159C45.2651 35.3871 45.9221 34.7255
    46.0442 34.5915C46.1453 34.4868 46.3096 34.4784 46.4191 34.5789C46.5286
    34.6752 46.5328 34.8427 46.4359 34.9474C46.2927 35.1024 45.5473 35.8478
    44.4228 35.8478C44.3672 35.8478 44.3153 35.844 44.2602 35.8402L44.2501
    35.8394ZM39.9964 25.8601C39.9964 26.1072 39.7942 26.3124 39.5415
    26.3124C39.2888 26.3124 39.0866 26.1072 39.0866 25.8601C39.0866 25.6089
    39.2888 25.4079 39.5415 25.4079C39.7942 25.4079 39.9964 25.6089 39.9964
    25.8601ZM36.0079 24.9137C35.8268 24.9137 35.6458 24.8551 35.4941
    24.7295C35.1614 24.4489 35.1193 23.9506 35.4015 23.6197C35.4983 23.5025
    36.408 22.4974 38.5602 22.3802C41.0155 22.2504 42.0221 22.7361 42.199
    22.8366C42.5781 23.0502 42.7255 23.536 42.5065 23.9171C42.2917 24.294 41.82
    24.4321 41.4367 24.2186C41.4283 24.2144 40.6576 23.8459 38.6486
    23.9548C37.2167 24.0343 36.6439 24.6034 36.6018 24.6457C36.446 24.8216
    36.2269 24.9137 36.0079 24.9137ZM24.8767 227.535L24.9356
    225.809H18.4498L18.673 229.101C18.7648 229.132 18.8583 229.165 18.9526
    229.198C18.9969 229.213 19.0411 229.228 19.0857 229.243C19.2066 229.285
    19.3443 229.443 19.5178 229.642C20.1917 230.415 21.4076 231.809 24.287
    229.482C24.4483 229.349 24.4408 228.96 24.4323 228.549C24.4231 228.103
    24.4134 227.63 24.6198 227.43C24.6198 227.43 24.7082 227.468 24.8767
    227.535ZM43.1171 227.455C42.9162 227.656 42.9268 228.125 42.9369
    228.567C42.9462 228.978 42.955 229.367 42.7928 229.499C39.9209 231.835
    38.7009 230.445 38.0253 229.674C37.8505 229.475 37.7124 229.318 37.5915
    229.277C37.5224 229.253 37.4529 229.228 37.3835 229.203L37.3826
    229.203C37.1801 229.13 36.9783 229.058 36.7997
    229.021V225.809H43.2856L43.1171 227.455ZM77.3954 84.8767C78.0145 83.4654
    78.8526 80.9863 78.482 80.3414C78.4694 80.3247 78.3725 80.287 78.1282
    80.3079C77.0206 80.4001 74.6916 81.4595 72.7458 82.674L81.7755
    96.2965C85.2669 94.9355 91.0452 92.3852 92.1739 89.6297C92.254 89.4329
    92.2203 89.2151 92.0897 89.0392C91.9718 88.8843 91.7991 88.7963 91.6138
    88.7963H91.5548C90.2029 88.9387 88.0887 90.3919 88.0676 90.4086L87.9076
    90.195L87.7517 89.9856C89.2174 88.8257 93.0457 85.4671 93.1763
    83.9051C93.1932 83.7251 93.151 83.5869 93.0542 83.4822C92.1613 82.4939
    87.9918 85.375 85.5744 87.4228L85.3975 87.226L85.2248 87.0291C87.8402
    84.6631 91.1884 80.9528 90.4303 80.0943C89.727 79.2945 83.4391 82.0667
    77.766 85.2117L77.0838 85.5886L77.3954 84.8767Z"
    fill="#7D4921" />
</svg>
