@import url('https://fonts.googleapis.com/css?family=Spectral:500|Poppins:400');

:root {
	--blue: #54acd2;
	--lightBlue: #63C3EC;
	--darkBlue: #59A2C1;
	--pink: #E46382;
	--lightPink: #F57C99;
	--darkPink: #DB718B;
	--white: white;
	--white2: #F8F8F8;
	--white3: #DDDDDD;
	--black: #172126;
	--blueBlack: #28324E;
}

html {
	font-size: 100%;
}

/*16px*/

body {
	margin: 0;
	background-color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.65;
	color: #333;
}

p {
	margin-bottom: 1.15rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	margin: 2.75rem 0 1.05rem;
	font-family: 'Spectral', serif;
	font-weight: 500;
	line-height: 1.15;
}

h1,
.h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2,
.h2 {
	font-size: 2.441em;
}

h3,
.h3 {
	font-size: 1.953em;
}

h4,
.h4 {
	font-size: 1.563em;
}

h5,
.h5 {
	font-size: 1.25em;
}

small,
.text_small {
	font-size: 0.8em;
}


a:hover {
	background: linear-gradient(45deg, var(--blue), var(--pink));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.1s ease-in;
	text-decoration: none;
}